Repository caffeine-addictt/greenbitessg, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Type: Test, Type: CI, Scope: Server, Scope: Client, Scope: Utilities

.github/labeler.yml:

# This file is for the labeler workflow
# Documentation https://github.com/marketplace/actions/labeler

Documentation:
  - changed-files:
      - any-glob-to-any-file: [docs/**, '**/*.{md,mdx}']

'Type: Test':
  - changed-files:
      - any-glob-to-any-file: [tests/**, ./*test*]

'Type: CI':
  - changed-files:
      - any-glob-to-any-file: [.github/workflows/**]

'Scope: Server':
  - changed-files:
      - any-glob-to-any-file: [server/**]

'Scope: Client':
  - changed-files:
      - any-glob-to-any-file: [client/**]

'Scope: Utilities':
  - changed-files:
      - any-glob-to-any-file: [shared/**]

fix: centered items on x axis
  client/src/pages/root.tsx
Labels: Scope: Client

Feat: Client side homepage basic layout (#159)
  client/src/pages/root.tsx
Labels: Scope: Client

chore(deps): Add drizzle dependencies
  package-lock.json
  server/package.json
Labels: Scope: Server

chore(deps): bump braces from 3.0.2 to 3.0.3
  package-lock.json
Labels: none

chore(deps): Add PostgreSQL db
  package-lock.json
  server/package.json
Labels: Scope: Server

feat: Initialize database connection
  server/src/db/index.ts
Labels: Scope: Server

feat: Load environment
  server/src/index.ts
Labels: Scope: Server

feat: Drizzle config
  server/drizzle.config.ts
Labels: Scope: Server

chore: Add db comamnds
  package.json
  server/package.json
Labels: Scope: Server

fix: Use ESNext
  server/tsconfig.json
Labels: Scope: Server

feat: Basic user schema
  server/migrations/0000_broken_may_parker.sql
  server/migrations/meta/0000_snapshot.json
  server/migrations/meta/_journal.json
  server/src/db/schemas.ts
Labels: Scope: Server

Feature/database setup (#161)
  package-lock.json
  package.json
  server/drizzle.config.ts
  server/migrations/0000_broken_may_parker.sql
  server/migrations/meta/0000_snapshot.json
  server/migrations/meta/_journal.json
  server/package.json
  server/src/db/index.ts
  server/src/db/schemas.ts
  server/src/index.ts
  server/tsconfig.json
Labels: Scope: Server

feat: Update user schema
  server/migrations/0001_peaceful_wild_pack.sql
  server/migrations/0002_wet_deadpool.sql
  server/migrations/meta/0001_snapshot.json
  server/migrations/meta/0002_snapshot.json
  server/migrations/meta/_journal.json
  server/src/db/schemas.ts
Labels: Scope: Server

feat: Export db types
  server/src/db/schemas.ts
Labels: Scope: Server

feat: Implement db query in availability endpoint
  server/src/v1/auth.ts
Labels: Scope: Server

chore(script): Add generating token script
  package.json
Labels: none

feat: Add password salted hashing
  server/src/utils/password.ts
Labels: Scope: Server

feat: Validate and improve env variable typechecking
  server/src/check-env.ts
  server/src/index.ts
  server/src/types/environment.d.ts
Labels: Scope: Server

feat: Add access/refresh token env
  server/src/check-env.ts
  server/src/types/environment.d.ts
Labels: Scope: Server

feat: Implement db query on /login and /register endpoints
  server/src/v1/auth.ts
Labels: Scope: Server

feat: Implement JWT creation/verification logic
  package-lock.json
  server/package.json
  server/src/utils/service/auth/jwt.ts
  server/src/v1/auth.ts
Labels: Scope: Server

fix: do not pre-add / to api url
  client/src/utils/http.ts
Labels: Scope: Client

feat: Page layout for user account page
  client/src/pages/route-map.tsx
  client/src/pages/userAccount/userHomepage.tsx
Labels: Scope: Client

feat: Update user schema
  server/migrations/0000_green_wallflower.sql
  server/migrations/0001_peaceful_wild_pack.sql
  server/migrations/0002_wet_deadpool.sql
  server/migrations/meta/0000_snapshot.json
  server/migrations/meta/0001_snapshot.json
  server/migrations/meta/0002_snapshot.json
  server/migrations/meta/_journal.json
  server/src/db/schemas.ts
Labels: Scope: Server

revert: Remove alphanumeric-only requirement
  client/src/lib/api-types/schemas.ts
  server/src/lib/api-types/schemas.ts
  shared/api-types/src/schemas.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: StdOut unknown errors
  server/src/middleware/errors.ts
Labels: Scope: Server

fix: Use OR clause in existing check
  server/src/v1/auth.ts
Labels: Scope: Server

feat: Add temporary DOB and permission value
  server/src/v1/auth.ts
Labels: Scope: Server

feat: Add JWT access and refresh tokens to cookies
  client/package.json
  client/src/pages/auth/login.tsx
  client/src/utils/jwt.ts
  package-lock.json
Labels: Scope: Client

feat: JWT login & register & database setup (#167)
  client/package.json
  client/src/lib/api-types/schemas.ts
  client/src/pages/auth/login.tsx
  client/src/utils/http.ts
  client/src/utils/jwt.ts
  package-lock.json
  package.json
  server/migrations/0000_green_wallflower.sql
  server/migrations/meta/0000_snapshot.json
  server/migrations/meta/_journal.json
  server/package.json
  server/src/check-env.ts
  server/src/db/schemas.ts
  server/src/index.ts
  server/src/lib/api-types/schemas.ts
  server/src/middleware/errors.ts
  server/src/types/environment.d.ts
  server/src/utils/password.ts
  server/src/utils/service/auth/jwt.ts
  server/src/v1/auth.ts
  shared/api-types/src/schemas.ts
  shared/api-types/tests/http-codes.test.ts
  shared/api-types/tests/http-methods.test.ts
  shared/api-types/tests/index.test.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: Add retrieving jwt
  client/src/utils/jwt.ts
Labels: Scope: Client

feat: Add 401 UNAUTHORIZED page
  client/src/pages/401.tsx
Labels: Scope: Client

feat: Protecting pages
  client/src/main.tsx
  client/src/pages/auth/login.tsx
  client/src/pages/route-map.tsx
  client/src/service/auth.tsx
Labels: Scope: Client

feat: Add zod error strings to API types
  client/src/lib/api-types/auth.ts
  server/src/lib/api-types/auth.ts
  shared/api-types/src/auth.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: Protecting API endpoints
  client/src/lib/api-types/errors.ts
  client/src/lib/api-types/index.ts
  server/src/index.ts
  server/src/lib/api-types/errors.ts
  server/src/lib/api-types/index.ts
  server/src/middleware/jwt.ts
  server/src/route-map.ts
  shared/api-types/src/errors.ts
  shared/api-types/src/index.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: Add /auth/refresh endpoint
  client/src/lib/api-types/auth.ts
  client/src/lib/api-types/schemas.ts
  server/src/index.ts
  server/src/lib/api-types/auth.ts
  server/src/lib/api-types/schemas.ts
  server/src/route-map.ts
  server/src/v1/auth.ts
  server/src/v1/route-map.ts
  shared/api-types/src/auth.ts
  shared/api-types/src/schemas.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: Select access/refresh token in client -> server
  client/src/utils/http.ts
Labels: Scope: Client

feat: Refactor structure of shared
  client/src/lib/api-types/schemas/auth.ts
  client/src/lib/api-types/schemas/index.ts
  client/src/lib/api-types/schemas/user.ts
  client/src/pages/auth/login.tsx
  server/src/lib/api-types/schemas/auth.ts
  server/src/lib/api-types/schemas/index.ts
  server/src/lib/api-types/schemas/user.ts
  server/src/v1/auth.ts
  shared/api-types/src/schemas/auth.ts
  shared/api-types/src/schemas/index.ts
  shared/api-types/src/schemas/user.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

fix: Strip "Bearer " from auth header
  server/src/middleware/jwt.ts
Labels: Scope: Server

fix: Reverse route stack
  server/src/index.ts
Labels: Scope: Server
