Repository caffeine-addictt/greenbitessg, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Type: Test, Type: CI, Scope: Server, Scope: Client, Scope: Utilities

.github/labeler.yml:

# This file is for the labeler workflow
# Documentation https://github.com/marketplace/actions/labeler

Documentation:
  - changed-files:
      - any-glob-to-any-file: [docs/**, '**/*.{md,mdx}']

'Type: Test':
  - changed-files:
      - any-glob-to-any-file: [tests/**, ./*test*]

'Type: CI':
  - changed-files:
      - any-glob-to-any-file: [.github/workflows/**]

'Scope: Server':
  - changed-files:
      - any-glob-to-any-file: [server/**]

'Scope: Client':
  - changed-files:
      - any-glob-to-any-file: [client/**]

'Scope: Utilities':
  - changed-files:
      - any-glob-to-any-file: [shared/**]

fix: fix route name change
  client/src/pages/user/events-me-list.tsx
  client/src/pages/user/homepage.tsx
Labels: Scope: Client

fix: fixed public can view events now
  client/src/pages/user/event-list.tsx
  client/src/pages/user/join-events.tsx
  server/src/v1/route-map.ts
Labels: Scope: Server, Scope: Client

feat: Invaldiate passkey fetch on mutation (#285)
  client/src/pages/user/settings.tsx
Labels: Scope: Client

feat: add admin for delete button in feedback and events list and add admin for dashboard
  client/src/pages/user/event-list.tsx
  client/src/pages/user/feedback-list.tsx
  client/src/pages/user/route-map.tsx
Labels: Scope: Client

feat: Add admin actions to /events (#286)
  client/src/pages/user/event-list.tsx
  client/src/pages/user/feedback-list.tsx
  client/src/pages/user/route-map.tsx
Labels: Scope: Client

chore: remove not needed line
  server/src/v1/route-map.ts
Labels: Scope: Server

fix: fix route location and useNavigate
  client/src/pages/user/events-me.tsx
Labels: Scope: Client

chore: remove unused file
  client/src/pages/user/event-manage.tsx
  client/src/pages/user/route-map.tsx
Labels: Scope: Client

fix: lint fix
  client/src/pages/user/event-list.tsx
Labels: Scope: Client

feat: joining and leaving events (#283)
  client/src/lib/api-types/event.ts
  client/src/pages/user/events-me-list.tsx
  client/src/pages/user/events-me.tsx
  client/src/pages/user/homepage.tsx
  client/src/pages/user/join-events.tsx
  client/src/pages/user/route-map.tsx
  server/src/lib/api-types/event.ts
  server/src/v1/event.ts
  server/src/v1/route-map.ts
  shared/api-types/src/event.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: added test data to be updated to db to ensure user can change acc
  server/src/v1/dashboard.ts
Labels: Scope: Server

fix: fix pr issues
  server/src/v1/dashboard.ts
Labels: Scope: Server

fix: fix pr issues
  server/src/v1/dashboard.ts
Labels: Scope: Server

feat: Auto populate dashboard data (#287)
  server/src/v1/dashboard.ts
Labels: Scope: Server

docs: Update README
  README.md
Labels: Documentation

feat: Make the large text be GreenBites SG
  client/src/pages/root.tsx
Labels: Scope: Client

feat: Add in sub header
  client/src/pages/root.tsx
Labels: Scope: Client

feat: Increase spacing between button and header
  client/src/pages/root.tsx
Labels: Scope: Client

fix: Properly Y-center overlaid text
  client/src/pages/root.tsx
Labels: Scope: Client

docs: Update README (#288)
  README.md
Labels: Documentation

ci: Remove dependency updates (except security)
  .github/dependabot.yml
  .github/settings.yml
Labels: none

fix: Remove duplicated imports
  client/src/components/ui/pieChart.tsx
Labels: Scope: Client

fix: Cleanup regex
  client/src/lib/api-types/schemas/auth.ts
  server/src/lib/api-types/schemas/auth.ts
  shared/api-types/src/schemas/auth.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

fix: Remove duplicated type
  client/src/lib/api-types/food.ts
  server/src/lib/api-types/food.ts
  shared/api-types/src/food.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

fix: Remove redundant return
  server/src/middleware/errors.ts
Labels: Scope: Server

fix: Use ?? instead of || for nullish
  client/src/pages/food/food.tsx
Labels: Scope: Client

fix: Do not use index in key
  client/src/components/navbar.tsx
  client/src/main.tsx
  client/src/pages/food/food.tsx
  client/src/pages/user/settings.tsx
Labels: Scope: Client

fix: Don't pass the children prop
  client/src/service/auth.tsx
Labels: Scope: Client

fix: Remove useless <></>
  client/src/pages/user/events-me.tsx
Labels: Scope: Client

chore(deps): Patch CVE-2024-4067
  package-lock.json
Labels: none
