Repository caffeine-addictt/greenbitessg, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Type: Test, Type: CI, Scope: Server, Scope: Client, Scope: Utilities

feat: Add delete passkey functionality
  client/src/pages/user/settings.tsx
Labels: Scope: Client

feat: Add registering passkeys to /settings
  client/src/pages/auth/passkey.tsx
  client/src/pages/auth/route-map.tsx
  client/src/pages/user/settings.tsx
Labels: Scope: Client

fix: fix build errors
  client/src/components/ui/pieChart.tsx
  client/src/pages/user/dashboard.tsx
Labels: Scope: Client

fix: fix linting errors
  client/src/pages/user/dashboard.tsx
Labels: Scope: Client

fix: Generated DB migration failing
  server/migrations/0023_solid_jean_grey.sql
Labels: Scope: Server

fix: fix build errors
  package-lock.json
  package.json
Labels: none

ci: Remove release drafting
  .github/release-drafter.yml
  .github/workflows/draft-release-tag.yml
Labels: Type: CI

ci: Run test/lint only on main or PR
  .github/workflows/linter.yml
  .github/workflows/test-worker.yml
Labels: Type: CI

ci: Remove first time contributor CI
  .github/workflows/first-time-contributor.yml
Labels: Type: CI

fix: fix pr issues
  client/src/lib/api-types/dashboard.ts
  server/src/lib/api-types/dashboard.ts
  shared/api-types/src/dashboard.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

fix: linting and build errors
  server/src/v1/route-map.ts
Labels: Scope: Server

fix: fix build errors
  server/src/v1/route-map.ts
Labels: Scope: Server

fix: fix build error
  client/package.json
  client/src/components/ui/pieChart.tsx
  client/src/pages/user/dashboard.tsx
  package-lock.json
  package.json
Labels: Scope: Client

fix: fix pr issues
  client/src/lib/api-types/feedback.ts
  client/src/lib/api-types/schemas/feedback.ts
  client/src/pages/route-map.tsx
  package-lock.json
  server/src/db/schemas.ts
  server/src/lib/api-types/feedback.ts
  server/src/lib/api-types/schemas/feedback.ts
  server/src/v1/feedback.ts
  shared/api-types/src/feedback.ts
  shared/api-types/src/schemas/feedback.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

fix: fix pr issues
  client/src/lib/api-types/dashboard.ts
  client/src/pages/user/dashboard.tsx
  client/src/pages/user/route-map.tsx
  package-lock.json
  server/src/lib/api-types/dashboard.ts
  server/src/v1/dashboard.ts
  shared/api-types/src/dashboard.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

fix: fix all pr issues
  client/src/lib/api-types/dashboard.ts
  server/src/lib/api-types/dashboard.ts
  server/src/v1/dashboard.ts
  shared/api-types/src/dashboard.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

fix: fix all pr issues
  server/src/v1/feedback.ts
Labels: Scope: Server

feat: add graph and pie chart (#236)
  client/package.json
  client/src/components/ui/graph.tsx
  client/src/components/ui/pieChart.tsx
  client/src/lib/api-types/dashboard.ts
  client/src/lib/api-types/schemas/dashboard.ts
  client/src/pages/user/dashboard.tsx
  client/src/pages/user/route-map.tsx
  package-lock.json
  server/src/lib/api-types/dashboard.ts
  server/src/lib/api-types/schemas/dashboard.ts
  server/src/v1/dashboard.ts
  server/src/v1/route-map.ts
  shared/api-types/src/dashboard.ts
  shared/api-types/src/schemas/dashboard.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

fix: fix all pr issues
  client/src/lib/api-types/feedback.ts
  client/src/pages/auth/route-map.tsx
  client/src/pages/route-map.tsx
  server/src/db/schemas.ts
  server/src/lib/api-types/feedback.ts
  server/src/v1/feedback.ts
  shared/api-types/src/feedback.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

fix: fix linting errors
  server/src/v1/route-map.ts
Labels: Scope: Server

fix: Perm 0 is admin
  client/src/service/auth.tsx
  server/src/v1/auth/legacy.ts
Labels: Scope: Server, Scope: Client

fix: Perm 0 is admin (#264)
  client/src/service/auth.tsx
  server/src/v1/auth/legacy.ts
Labels: Scope: Server, Scope: Client

chore: Update package-lock
  package-lock.json
Labels: none

feat: Improve 404 page styling
  client/src/pages/404.tsx
Labels: Scope: Client

feat: Improve 401 page styling
  client/src/pages/401.tsx
Labels: Scope: Client

chore: Update package-lock (#265)
  package-lock.json
Labels: none

feat: Add and use favicon logo
  client/index.html
  client/public/favicon.ico
  client/public/vite.svg
  client/src/pages/auth/auth-layout.tsx
Labels: Scope: Client

feat: Improve 401 page styling (#266)
  client/src/pages/401.tsx
Labels: Scope: Client

feat: Improve 404 page styling (#267)
  client/src/pages/404.tsx
Labels: Scope: Client

feat: Reordering navbar elements
  client/src/components/navbar.tsx
Labels: Scope: Client

feat: Add and use favicon logo (#268)
  client/index.html
  client/public/favicon.ico
  client/public/vite.svg
  client/src/pages/auth/auth-layout.tsx
Labels: Scope: Client

fix: Broken event link
  client/src/components/navbar.tsx
Labels: Scope: Client

fix: Weird way of passing link variant
  client/src/components/navbar.tsx
Labels: Scope: Client

fix: Get rid of duplicated styles
  client/src/components/navbar.tsx
Labels: Scope: Client

fix: Get rid of unnecessary bangs (!)
  client/src/components/navbar.tsx
Labels: Scope: Client

fix: Use <InternalLink /> instead of <a />
  client/src/components/navbar.tsx
Labels: Scope: Client

feat: created verification email and token
  server/src/utils/service/email/email.ts
  server/src/utils/service/email/templates/verification-code.ts
  server/src/utils/service/email/templates/verification-code.tsx
  server/src/v1/user.ts
Labels: Scope: Server

fix: fix schema.ts pr issue
  server/src/db/schemas.ts
Labels: Scope: Server

fix: Do not have a button in a button
  client/src/components/navbar.tsx
Labels: Scope: Client

fix: Follow convention Success -> Succ
  client/src/lib/api-types/notification.ts
  server/src/lib/api-types/notification.ts
  server/src/v1/notification/delete.ts
  shared/api-types/src/notification.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

.github/labeler.yml:

# This file is for the labeler workflow
# Documentation https://github.com/marketplace/actions/labeler

Documentation:
  - changed-files:
      - any-glob-to-any-file: [docs/**, '**/*.{md,mdx}']

'Type: Test':
  - changed-files:
      - any-glob-to-any-file: [tests/**, ./*test*]

'Type: CI':
  - changed-files:
      - any-glob-to-any-file: [.github/workflows/**]

'Scope: Server':
  - changed-files:
      - any-glob-to-any-file: [server/**]

'Scope: Client':
  - changed-files:
      - any-glob-to-any-file: [client/**]

'Scope: Utilities':
  - changed-files:
      - any-glob-to-any-file: [shared/**]
