Repository caffeine-addictt/greenbitessg, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Type: Test, Type: CI, Scope: Server, Scope: Client, Scope: Utilities

.github/labeler.yml:

# This file is for the labeler workflow
# Documentation https://github.com/marketplace/actions/labeler

Documentation:
  - changed-files:
      - any-glob-to-any-file: [docs/**, '**/*.{md,mdx}']

'Type: Test':
  - changed-files:
      - any-glob-to-any-file: [tests/**, ./*test*]

'Type: CI':
  - changed-files:
      - any-glob-to-any-file: [.github/workflows/**]

'Scope: Server':
  - changed-files:
      - any-glob-to-any-file: [server/**]

'Scope: Client':
  - changed-files:
      - any-glob-to-any-file: [client/**]

'Scope: Utilities':
  - changed-files:
      - any-glob-to-any-file: [shared/**]

refactor(client): Change file name from .jsx to .tsx and placed it in folder src/pages/user in client/
  client/package.json
  client/pages/EmployeeMain.jsx
  client/src/http.ts
  client/src/pages/user/employee.tsx
  package-lock.json
Labels: Scope: Client

feat: Add passkey challenge type to schema
  server/migrations/0013_early_the_twelve.sql
  server/migrations/meta/0013_snapshot.json
  server/migrations/meta/_journal.json
  server/src/db/schemas.ts
  server/src/v1/auth/passkey.ts
Labels: Scope: Server

feat: Make user-passkeyChallenges a 1-* relation
  server/src/db/schemas.ts
  server/src/v1/auth/passkey.ts
Labels: Scope: Server

feat: Delete used passkey challenge
  server/src/v1/auth/passkey.ts
Labels: Scope: Server

feat(client): Add updateemployee.tsx to src/pages/src in client/
  client/package.json
  client/src/pages/user/updateemployee.tsx
  package-lock.json
Labels: Scope: Client

refactor(client): Removed AccountSet tings.jsx to replace it with a .tsx file
  client/pages/AccountSettings.jsx
Labels: Scope: Client

build(client): Update http.ts to han dle request headers securely
  client/src/http.ts
Labels: Scope: Client

feat(client): Added accountsettings.tsx in src/pages/user in client/
  client/src/pages/user/accountsettings.tsx
Labels: Scope: Client

feat: Add id PK for passkeyChallenge table
  server/migrations/0014_legal_triathlon.sql
  server/migrations/meta/0014_snapshot.json
  server/migrations/meta/_journal.json
  server/src/db/schemas.ts
Labels: Scope: Server

fix(client): Correct Tailwind CSS class ordering in accountsettings.tsx in client/
  client/src/pages/user/accountsettings.tsx
Labels: Scope: Client

feat: Addd tracking uuid for challenges
  client/src/lib/api-types/auth.ts
  client/src/lib/api-types/schemas/auth.ts
  server/src/lib/api-types/auth.ts
  server/src/lib/api-types/schemas/auth.ts
  server/src/v1/auth/passkey.ts
  shared/api-types/src/auth.ts
  shared/api-types/src/schemas/auth.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

fix(client): Remove Tailwind CSS at lines 82, 162 and 170, to debug the errors
  client/src/pages/user/accountsettings.tsx
Labels: Scope: Client

feat: Add /v1/login/passkey/start endpoint
  client/src/lib/api-types/auth.ts
  client/src/lib/api-types/schemas/auth.ts
  server/src/lib/api-types/auth.ts
  server/src/lib/api-types/schemas/auth.ts
  server/src/v1/auth/passkey.ts
  shared/api-types/src/auth.ts
  shared/api-types/src/schemas/auth.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: Add /v1/login/passkey/finish endpoint
  server/src/v1/auth/passkey.ts
  server/src/v1/auth/route-map.ts
Labels: Scope: Server

feat: Add link buttons
  client/src/components/ui/button.tsx
Labels: Scope: Client

feat: Add surface color theme
  client/tailwind.config.ts
Labels: Scope: Client

refactor (client): Remove Department Field from accountsettings.tsx
  client/src/pages/user/accountsettings.tsx
Labels: Scope: Client

refactor(client): Remove account.js from routes #673
  server/routes/accountsettings.js
Labels: Scope: Server

revert: remove update user endpoints
  client/src/lib/api-types/schemas/user.ts
  client/src/lib/api-types/user.ts
  server/src/lib/api-types/schemas/user.ts
  server/src/lib/api-types/user.ts
Labels: Scope: Server, Scope: Client

refactor(client): Change the fronten d fields to make it similar to user.ts in server
  client/src/pages/user/accountsettings.tsx
Labels: Scope: Client

feat: Add AuthLayout
  client/src/pages/auth/authLayout.tsx
Labels: Scope: Client

feat: footer layout
  client/src/components/footer.tsx
  client/src/main.tsx
Labels: Scope: Client

fix: fixed copyright escaping footer and added links
  client/src/components/footer.tsx
Labels: Scope: Client

fix: fixed copyright margin and text size
  client/src/components/footer.tsx
Labels: Scope: Client

fix: remove empty classanme
  client/src/components/footer.tsx
Labels: Scope: Client

feat: Add website footer (#193)
  client/src/components/footer.tsx
  client/src/main.tsx
Labels: Scope: Client

WIP
  client/src/pages/auth/legacy.tsx
  client/src/pages/auth/route-map.tsx
  client/src/pages/route-map.tsx
Labels: Scope: Client

fix: Allow multiple challenges per account
  server/migrations/0015_powerful_thunderbolt.sql
  server/migrations/meta/0015_snapshot.json
  server/migrations/meta/_journal.json
  server/src/db/schemas.ts
Labels: Scope: Server

feat: Add helper util without HTTP protocol
  server/src/utils/app.ts
  server/src/v1/auth/passkey.ts
Labels: Scope: Server

chore(dep): Add @simplewebauthn/browser package
  client/package.json
  package-lock.json
Labels: Scope: Client

feat: Allow unknown as JSONSerializable
  client/src/utils/http.ts
Labels: Scope: Client

feat: Add client logic for passkeys
  client/src/pages/auth/passkey.tsx
  client/src/pages/auth/route-map.tsx
Labels: Scope: Client

fix: Invalid rpID causing passkey failure locally
  server/src/v1/auth/passkey.ts
Labels: Scope: Server

fix: Use body.signed instead of req.body
  server/src/v1/auth/passkey.ts
Labels: Scope: Server

fix: Use body.signed instead of req.body
  server/src/v1/auth/passkey.ts
Labels: Scope: Server

fix: Use body.signed instead of req.body (#196)
  server/src/v1/auth/passkey.ts
Labels: Scope: Server

feat: Add logout page
  client/src/pages/auth/logout.tsx
  client/src/pages/auth/route-map.tsx
Labels: Scope: Client

feat: Update logout func to return promise instead of void
  client/src/service/auth.tsx
Labels: Scope: Client

fix: Potential unsupported length fix
  server/src/v1/auth/passkey.ts
Labels: Scope: Server

debug: Add logging
  server/src/v1/auth/passkey.ts
Labels: Scope: Server
