Repository caffeine-addictt/greenbitessg, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Type: Test, Type: CI, Scope: Server, Scope: Client, Scope: Utilities

feat: add validation messages for feedback form (#274)
  client/src/lib/api-types/schemas/feedback.ts
  client/src/pages/user/feedback.tsx
  server/src/lib/api-types/schemas/feedback.ts
  shared/api-types/src/schemas/feedback.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

refactor: add validation using zod (#276)
  client/src/lib/api-types/schemas/event.ts
  server/src/lib/api-types/schemas/event.ts
  shared/api-types/src/schemas/event.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: schema for users To Event table
  server/src/db/schemas.ts
Labels: Scope: Server

feat: api endpoints for join events
  client/src/lib/api-types/event.ts
  client/src/lib/api-types/schemas/event.ts
  server/src/lib/api-types/event.ts
  server/src/lib/api-types/schemas/event.ts
  shared/api-types/src/event.ts
  shared/api-types/src/schemas/event.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: export insert and select and relation mapping
  server/src/db/schemas.ts
Labels: Scope: Server

fix: changed to one relation mapping
  server/src/db/schemas.ts
Labels: Scope: Server

fix: fix name for insert and select
  server/src/db/schemas.ts
Labels: Scope: Server

fix: Use a proper PK name
  server/src/db/schemas.ts
Labels: Scope: Server

feat: Migrate DB
  server/migrations/0025_bright_stark_industries.sql
  server/migrations/meta/0025_snapshot.json
  server/migrations/meta/_journal.json
Labels: Scope: Server

feat: users-event association table schema (#277)
  client/src/lib/api-types/event.ts
  client/src/lib/api-types/schemas/event.ts
  server/migrations/0025_bright_stark_industries.sql
  server/migrations/meta/0025_snapshot.json
  server/migrations/meta/_journal.json
  server/src/db/schemas.ts
  server/src/lib/api-types/event.ts
  server/src/lib/api-types/schemas/event.ts
  shared/api-types/src/event.ts
  shared/api-types/src/schemas/event.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: Add tos pages
  client/src/pages/legal/route-map.tsx
  client/src/pages/legal/tos.tsx
  client/src/pages/route-map.tsx
Labels: Scope: Client

feat: Add tos pages (#278)
  client/src/pages/legal/route-map.tsx
  client/src/pages/legal/tos.tsx
  client/src/pages/route-map.tsx
Labels: Scope: Client

feat: lcp image
  client/public/lcp-screen.png
  client/src/pages/root.tsx
Labels: Scope: Client

feat: Add privacy page
  client/src/pages/legal/privacy.tsx
  client/src/pages/legal/route-map.tsx
Labels: Scope: Client

feat: Add privacy page (#279)
  client/src/pages/legal/privacy.tsx
  client/src/pages/legal/route-map.tsx
Labels: Scope: Client

feat: api endpoint for leave event
  client/src/lib/api-types/event.ts
  server/src/lib/api-types/event.ts
  shared/api-types/src/event.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: event list only for viewing
  client/src/pages/user/event-list.tsx
Labels: Scope: Client

feat: api endpoints for handling joining and leaving functions
  server/src/v1/event.ts
  server/src/v1/route-map.ts
Labels: Scope: Server

feat: join events
  client/src/pages/user/join-events.tsx
  client/src/pages/user/route-map.tsx
Labels: Scope: Client

feat: display joined events and leave events
  client/src/pages/user/my-events-list.tsx
  client/src/pages/user/my-events.tsx
Labels: Scope: Client

feat: homepage image with images and LCP
  client/public/NEA-logo-400x181.webp
  client/public/SFA-logo-200x93.webp
  client/public/lcp-screen-1366x600.webp
  client/public/sustainability-1000x562.webp
  client/public/sustainability-image2-1445x813.webp
  client/public/sustainability-image3-1600x900.webp
  client/src/pages/root.tsx
Labels: Scope: Client

fix: fix lint error
  client/src/pages/root.tsx
Labels: Scope: Client

feat: changed links on user homepage
  client/src/pages/user/homepage.tsx
Labels: Scope: Client

feat: modal for confirming leaving events
  client/src/pages/user/my-events.tsx
Labels: Scope: Client

feat: Add settings to navbar
  client/src/components/navbar.tsx
Labels: Scope: Client

fix: Remove admin header in nav dropdown
  client/src/components/navbar.tsx
Labels: Scope: Client

feat: Add settings to navbar (#281)
  client/src/components/navbar.tsx
Labels: Scope: Client

fix: Remove admin header in nav dropdown (#282)
  client/src/components/navbar.tsx
Labels: Scope: Client

feat: modal for joining events
  client/src/pages/user/join-events.tsx
Labels: Scope: Client

fix: run lint fix
  client/src/pages/user/homepage.tsx
  client/src/pages/user/join-events.tsx
  client/src/pages/user/my-events.tsx
  server/src/v1/event.ts
Labels: Scope: Server, Scope: Client

fix: Convert to date before showing as locale string
  client/src/components/navbar.tsx
Labels: Scope: Client

feat: Create notification on register
  server/src/v1/auth/legacy.ts
Labels: Scope: Server

fix: Missing id parameter in archive endpoint
  server/src/v1/notification/route-map.ts
Labels: Scope: Server

feat: set solid height
  client/src/pages/root.tsx
Labels: Scope: Client

fix: changed <a> to internal link
  client/src/pages/root.tsx
Labels: Scope: Client

chore: remove unused button
  client/src/pages/root.tsx
Labels: Scope: Client

feat: Add Homepage with images and LCP (#280)
  client/public/NEA-logo-400x181.webp
  client/public/SFA-logo-200x93.webp
  client/public/lcp-screen-1366x600.webp
  client/public/lcp-screen.png
  client/public/sustainability-1000x562.webp
  client/public/sustainability-image2-1445x813.webp
  client/public/sustainability-image3-1600x900.webp
  client/src/pages/root.tsx
Labels: Scope: Client

chore: changed name for my-events
  client/src/pages/user/events-me-list.tsx
  client/src/pages/user/events-me.tsx
  client/src/pages/user/route-map.tsx
Labels: Scope: Client

refactor: change the access level for routes accessible to staff to /admin
  client/src/pages/user/route-map.tsx
Labels: Scope: Client

feat: Invaldiate passkey fetch on mutation
  client/src/pages/user/settings.tsx
Labels: Scope: Client

.github/labeler.yml:

# This file is for the labeler workflow
# Documentation https://github.com/marketplace/actions/labeler

Documentation:
  - changed-files:
      - any-glob-to-any-file: [docs/**, '**/*.{md,mdx}']

'Type: Test':
  - changed-files:
      - any-glob-to-any-file: [tests/**, ./*test*]

'Type: CI':
  - changed-files:
      - any-glob-to-any-file: [.github/workflows/**]

'Scope: Server':
  - changed-files:
      - any-glob-to-any-file: [server/**]

'Scope: Client':
  - changed-files:
      - any-glob-to-any-file: [client/**]

'Scope: Utilities':
  - changed-files:
      - any-glob-to-any-file: [shared/**]
