Repository caffeine-addictt/greenbitessg, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Type: Test, Type: CI, Scope: Server, Scope: Client, Scope: Utilities

feat: Add activated boolean to user
  client/src/lib/api-types/schemas/user.ts
  client/src/service/auth.tsx
  server/src/lib/api-types/schemas/user.ts
  server/src/middleware/jwt.ts
  server/src/route-map.ts
  server/src/v1/route-map.ts
  server/src/v1/user.ts
  shared/api-types/src/schemas/user.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

docs: Update docstring endpoint path
  client/src/lib/api-types/auth.ts
  server/src/lib/api-types/auth.ts
  shared/api-types/src/auth.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: Add /v1/auth/activate endpoint
  client/src/lib/api-types/auth.ts
  client/src/lib/api-types/schemas/auth.ts
  server/src/lib/api-types/auth.ts
  server/src/lib/api-types/schemas/auth.ts
  server/src/v1/auth.ts
  server/src/v1/route-map.ts
  shared/api-types/src/auth.ts
  shared/api-types/src/schemas/auth.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

chore: Update package-lock
  package-lock.json
Labels: none

chore: Reset table
  server/migrations/0006_graceful_stone_men.sql
  server/migrations/0007_curious_the_renegades.sql
  server/migrations/0008_brown_moira_mactaggert.sql
  server/migrations/0009_familiar_pride.sql
  server/migrations/meta/0006_snapshot.json
  server/migrations/meta/0007_snapshot.json
  server/migrations/meta/0008_snapshot.json
  server/migrations/meta/0009_snapshot.json
  server/migrations/meta/_journal.json
Labels: Scope: Server

fix: Cannot do empty SELECT
  server/src/v1/auth.ts
Labels: Scope: Server

fix: Logic error
  server/src/middleware/jwt.ts
Labels: Scope: Server

fix: Invalid UUID syntax string causes DB to throw
  server/src/v1/auth.ts
Labels: Scope: Server

fix: Weirdly trying to join on id
  server/src/v1/auth.ts
Labels: Scope: Server

fix: Redirect /verify -> /activate if !isActivated
  client/src/main.tsx
Labels: Scope: Client

fix: Setting isActivated to true always
  client/src/service/auth.tsx
Labels: Scope: Client

feat: Add /activate/:token path
  client/src/pages/auth/activate.tsx
  client/src/pages/auth/route-map.tsx
Labels: Scope: Client

feat: Delete user account function
  client/src/lib/api-types/user.ts
  client/src/pages/route-map.tsx
  client/src/pages/userAccount/route-map.tsx
  client/src/pages/userAccount/userHomepage.tsx
  client/src/pages/userAccount/userSettings.tsx
  server/src/lib/api-types/user.ts
  server/src/v1/route-map.ts
  server/src/v1/user.ts
  shared/api-types/src/user.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: Increase ratelimit to 1000
  server/src/middleware/rate-limiting.ts
Labels: Scope: Server

feat: /activate/:token page styling
  client/src/pages/auth/activate.tsx
Labels: Scope: Client

feat: Use page for /activate and /activate/:token
  client/src/pages/auth/activate.tsx
  client/src/pages/auth/route-map.tsx
Labels: Scope: Client

chore(sync): Sync shared/api-types
  client/src/lib/api-types/event.ts
  client/src/lib/api-types/schemas/event.ts
  client/src/lib/api-types/user.ts
  server/src/lib/api-types/event.ts
  server/src/lib/api-types/schemas/event.ts
  server/src/lib/api-types/user.ts
Labels: Scope: Server, Scope: Client

chore(sync): Sync shared/api-types
  client/src/lib/api-types/event.ts
  server/src/lib/api-types/event.ts
Labels: Scope: Server, Scope: Client

chore(sync): Sync shared/api-types
  client/src/lib/api-types/event.ts
  client/src/lib/api-types/schemas/event.ts
  client/src/lib/api-types/schemas/index.ts
  server/src/lib/api-types/event.ts
  server/src/lib/api-types/schemas/event.ts
  server/src/lib/api-types/schemas/index.ts
Labels: Scope: Server, Scope: Client

chore(sync): Sync shared/api-types
  client/src/lib/api-types/schemas/user.ts
  server/src/lib/api-types/schemas/user.ts
Labels: Scope: Server, Scope: Client

chore(sync): Sync shared/api-types
  client/src/lib/api-types/schemas/event.ts
  server/src/lib/api-types/schemas/event.ts
Labels: Scope: Server, Scope: Client

fix: Check for expired activation token
  client/src/lib/api-types/auth.ts
  server/src/lib/api-types/auth.ts
  server/src/utils/service/auth/tokens.ts
  server/src/v1/auth.ts
  shared/api-types/src/auth.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: Add sendActivationEmail shorthand
  server/src/utils/service/email/email.ts
  server/src/utils/types.ts
  server/src/v1/auth.ts
Labels: Scope: Server

feat: Add POST /v1/auth/recreate-token endpoint
  client/src/lib/api-types/auth.ts
  client/src/lib/api-types/schemas/auth.ts
  server/src/lib/api-types/auth.ts
  server/src/lib/api-types/schemas/auth.ts
  server/src/v1/auth.ts
  server/src/v1/route-map.ts
  shared/api-types/src/auth.ts
  shared/api-types/src/schemas/auth.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: Add button to recreate activation token
  client/src/pages/auth/activate.tsx
Labels: Scope: Client

feat: Reload window on success as well
  client/src/pages/auth/activate.tsx
Labels: Scope: Client

chore(sync): Sync shared/api-types
  client/src/lib/api-types/event.ts
  client/src/lib/api-types/schemas/event.ts
  client/src/lib/api-types/schemas/index.ts
  client/src/lib/api-types/user.ts
  server/src/lib/api-types/event.ts
  server/src/lib/api-types/schemas/event.ts
  server/src/lib/api-types/schemas/index.ts
  server/src/lib/api-types/user.ts
Labels: Scope: Server, Scope: Client

style(client): Added Tailwind CSS to Account Settings in client/
  client/pages/AccountSettings.jsx
Labels: Scope: Client

feat(server): Add route for Account Settings in server/
  client/pages/AccountSettings.jsx
  package-lock.json
  package.json
  server/routes/accountsettings.js
Labels: Scope: Server, Scope: Client

feat (client): Add Employee interface in client/
  client/pages/EmployeeMain.jsx
Labels: Scope: Client

refactor: Abstract /v1/availability to availability.ts
  server/src/v1/auth.ts
  server/src/v1/availability.ts
  server/src/v1/route-map.ts
Labels: Scope: Server

feat: Make routingMap type URL more flexible
  server/src/route-map.ts
  server/src/v1/route-map.ts
Labels: Scope: Server

feat: Add URL encode middleware
  server/src/index.ts
Labels: Scope: Server

refactor: Abstract /v1/auth/ routes
  server/src/v1/auth/legacy.ts
  server/src/v1/auth/route-map.ts
  server/src/v1/auth/tokens.ts
  server/src/v1/route-map.ts
Labels: Scope: Server

feat: Add passkey challenges schema
  server/migrations/0010_happy_dormammu.sql
  server/migrations/meta/0010_snapshot.json
  server/migrations/meta/_journal.json
  server/src/db/schemas.ts
Labels: Scope: Server

feat: Add passkeys schema
  server/migrations/0011_damp_moon_knight.sql
  server/migrations/meta/0011_snapshot.json
  server/migrations/meta/_journal.json
  server/src/db/schemas.ts
Labels: Scope: Server

refactor: Move /v1/register endpoint up
  server/src/v1/auth/route-map.ts
Labels: Scope: Server

feat: Add challenge user id to PasskeyChallenge tables
  server/migrations/0012_curly_loki.sql
  server/migrations/meta/0012_snapshot.json
  server/migrations/meta/_journal.json
  server/src/db/schemas.ts
Labels: Scope: Server

feat: Add /v1/register/passkeys/start endpoint
  client/package.json
  client/src/lib/api-types/auth.ts
  package-lock.json
  server/package.json
  server/src/lib/api-types/auth.ts
  server/src/v1/auth/passkey.ts
  server/src/v1/auth/route-map.ts
  shared/api-types/package.json
  shared/api-types/src/auth.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: Add /v1/register/passkeys/finish
  server/src/v1/auth/passkey.ts
Labels: Scope: Server

.github/labeler.yml:

# This file is for the labeler workflow
# Documentation https://github.com/marketplace/actions/labeler

Documentation:
  - changed-files:
      - any-glob-to-any-file: [docs/**, '**/*.{md,mdx}']

'Type: Test':
  - changed-files:
      - any-glob-to-any-file: [tests/**, ./*test*]

'Type: CI':
  - changed-files:
      - any-glob-to-any-file: [.github/workflows/**]

'Scope: Server':
  - changed-files:
      - any-glob-to-any-file: [server/**]

'Scope: Client':
  - changed-files:
      - any-glob-to-any-file: [client/**]

'Scope: Utilities':
  - changed-files:
      - any-glob-to-any-file: [shared/**]
