Repository caffeine-addictt/greenbitessg, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Type: Test, Type: CI, Scope: Server, Scope: Client, Scope: Utilities

.github/labeler.yml:

# This file is for the labeler workflow
# Documentation https://github.com/marketplace/actions/labeler

Documentation:
  - changed-files:
      - any-glob-to-any-file: [docs/**, '**/*.{md,mdx}']

'Type: Test':
  - changed-files:
      - any-glob-to-any-file: [tests/**, ./*test*]

'Type: CI':
  - changed-files:
      - any-glob-to-any-file: [.github/workflows/**]

'Scope: Server':
  - changed-files:
      - any-glob-to-any-file: [server/**]

'Scope: Client':
  - changed-files:
      - any-glob-to-any-file: [client/**]

'Scope: Utilities':
  - changed-files:
      - any-glob-to-any-file: [shared/**]

feat: add v1/feedback GET function
  client/src/lib/api-types/feedback.ts
  server/src/lib/api-types/feedback.ts
  server/src/v1/feedback.ts
  shared/api-types/src/feedback.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: add feedback-list.tsx
  client/src/pages/user/feedback-list.tsx
  client/src/pages/user/route-map.tsx
  server/src/db/schemas.ts
  server/src/v1/route-map.ts
Labels: Scope: Server, Scope: Client

feat: add v1/feedback DELETE function
  client/src/lib/api-types/feedback.ts
  client/src/pages/user/feedback-list.tsx
  server/src/lib/api-types/feedback.ts
  server/src/v1/feedback.ts
  server/src/v1/route-map.ts
  shared/api-types/src/feedback.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

fix: fix linting errors
  client/src/pages/route-map.tsx
  server/src/v1/route-map.ts
Labels: Scope: Server, Scope: Client

fix: fix build errors
  server/src/db/schemas.ts
Labels: Scope: Server

feat: Add dropdown-menu component
  client/package.json
  client/src/components/ui/dropdown-menu.tsx
  package-lock.json
Labels: Scope: Client

feat: responsive navbar layout with CTA and dropdown menu
  client/src/components/navbar.tsx
Labels: Scope: Client

fix: fixed format error
  client/src/components/navbar.tsx
Labels: Scope: Client

fix: removed unusued location in main
  client/src/main.tsx
Labels: Scope: Client

fix: fix prettier code style
  client/src/main.tsx
Labels: Scope: Client

feat: add test data for sales graph
  client/src/pages/user/dashboard.tsx
  package-lock.json
Labels: Scope: Client

feat: notification API
  client/src/lib/api-types/notification.ts
  server/src/lib/api-types/notification.ts
  shared/api-types/src/notification.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: notification endpoints
  server/src/v1/notification/delete.ts
  server/src/v1/notification/notification.ts
  server/src/v1/notification/route-map.ts
  server/src/v1/route-map.ts
Labels: Scope: Server

feat: notification api
  client/src/lib/api-types/notification.ts
  server/src/lib/api-types/notification.ts
  shared/api-types/src/notification.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: added one more colour shade for primary-dark
  client/tailwind.config.ts
Labels: Scope: Client

feat: changed <a> to internal link and admin buttons
  client/src/components/navbar.tsx
Labels: Scope: Client

fix: allow nonActivated for notifs
  server/src/v1/notification/route-map.ts
Labels: Scope: Server

fix: remove @ syntax and remove dynamic for build query
  server/src/v1/notification/notification.ts
Labels: Scope: Server

fix: fixed linting
  server/src/v1/notification/route-map.ts
Labels: Scope: Server

chore: removed unused svg files
  client/public/dropdown.svg
  client/public/notificationBell.svg
Labels: Scope: Client

chore: removed unused props in navbar
  client/src/components/navbar.tsx
Labels: Scope: Client

fix: remove additional /
  client/src/components/navbar.tsx
Labels: Scope: Client

fix: changed to relative import and remove await query
  server/src/v1/notification/notification.ts
Labels: Scope: Server

feat: Responsive Navbar Layout (#257)
  client/package.json
  client/public/logo_279x279.webp
  client/src/components/navbar.tsx
  client/src/components/ui/dropdown-menu.tsx
  client/src/main.tsx
  client/tailwind.config.ts
  package-lock.json
Labels: Scope: Client

feat: notification schema and API (#258)
  client/src/lib/api-types/notification.ts
  server/src/lib/api-types/notification.ts
  server/src/v1/notification/delete.ts
  server/src/v1/notification/notification.ts
  server/src/v1/notification/route-map.ts
  server/src/v1/route-map.ts
  shared/api-types/src/notification.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

fix: Improve page responsiveness
  client/src/pages/user/settings.tsx
Labels: Scope: Client

feat: Expose refetch in user context
  client/src/service/auth.tsx
Labels: Scope: Client

fix: Save button enabled with no mutation
  client/src/pages/user/settings.tsx
Labels: Scope: Client

feat: Use useMutation and use toasts only
  client/src/pages/user/settings.tsx
Labels: Scope: Client

revert: Remove success and error state
  client/src/pages/user/settings.tsx
Labels: Scope: Client

feat: Improve danger zone UI
  client/src/pages/user/settings.tsx
Labels: Scope: Client

feat: Abstract danger and details
  client/src/pages/user/settings.tsx
Labels: Scope: Client

feat: add graph and pie chart to dashboard
  client/src/components/ui/graph.tsx
  client/src/components/ui/pieChart.tsx
  client/src/lib/api-types/dashboard.ts
  client/src/lib/api-types/schemas/dashboard.ts
  client/src/pages/user/dashboard.tsx
  package-lock.json
  package.json
  server/src/lib/api-types/dashboard.ts
  server/src/lib/api-types/schemas/dashboard.ts
  server/src/v1/dashboard.ts
  server/src/v1/route-map.ts
  shared/api-types/src/dashboard.ts
  shared/api-types/src/schemas/dashboard.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: Add passkey data type to shared
  client/src/lib/api-types/schemas/auth.ts
  server/src/lib/api-types/schemas/auth.ts
  shared/api-types/src/schemas/auth.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

fix: Conform to naming and use success type
  client/src/lib/api-types/user.ts
  client/src/pages/user/settings.tsx
  server/src/lib/api-types/user.ts
  server/src/v1/user.ts
  shared/api-types/src/user.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: Add non-binding primarykey for passkeys
  server/migrations/0023_solid_jean_grey.sql
  server/migrations/meta/0023_snapshot.json
  server/migrations/meta/_journal.json
  server/src/db/schemas.ts
  server/src/v1/auth/passkey.ts
Labels: Scope: Server

feat: Add /v1/user/passkey GET endpoint
  client/src/lib/api-types/user.ts
  server/src/lib/api-types/user.ts
  server/src/v1/route-map.ts
  server/src/v1/user.ts
  shared/api-types/src/user.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: Add /v1/user/passkey/:id DELETE endpoint
  client/src/lib/api-types/user.ts
  server/src/lib/api-types/user.ts
  server/src/v1/route-map.ts
  server/src/v1/user.ts
  shared/api-types/src/user.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: Organize and add passkey register imports
  client/src/pages/user/settings.tsx
Labels: Scope: Client

feat: Add fetching passkeys display
  client/src/pages/user/settings.tsx
Labels: Scope: Client
