Repository caffeine-addictt/greenbitessg, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Type: Test, Type: CI, Scope: Server, Scope: Client, Scope: Utilities

fix: Make queryclient enclose footer and nav too
  client/src/main.tsx
Labels: Scope: Client

fix: /v1/notifications GET should not be tied to an id
  server/src/v1/notification/notification.ts
Labels: Scope: Server

feat: Tidy and add imports
  client/src/components/navbar.tsx
Labels: Scope: Client

feat: Use abstracted and remove dead links
  client/src/components/navbar.tsx
Labels: Scope: Client

feat: Add link to /food
  client/src/components/navbar.tsx
Labels: Scope: Client

feat: Add fetching notifications
  client/src/components/navbar.tsx
Labels: Scope: Client

feat: Add archiving notfications
  client/src/components/navbar.tsx
Labels: Scope: Client

fix: Use menu label instead of item for header
  client/src/components/navbar.tsx
Labels: Scope: Client

style: Conform to formatting
  client/src/components/navbar.tsx
Labels: Scope: Client

feat: Introduce classname for navlink
  client/src/components/navbar.tsx
Labels: Scope: Client

fix: Hide website name on sm or lesser
  client/src/components/navbar.tsx
Labels: Scope: Client

feat: Display login/logout on dropdown on sm or lesser
  client/src/components/navbar.tsx
Labels: Scope: Client

feat: Display login/register on md or larger
  client/src/components/navbar.tsx
Labels: Scope: Client

fix: 0 gets displayed and only render notif if login
  client/src/components/navbar.tsx
Labels: Scope: Client

feat: add GET and DELETE functions in Feedback API (#224)
  client/src/lib/api-types/dashboard.ts
  client/src/lib/api-types/feedback.ts
  client/src/lib/api-types/schemas/feedback.ts
  client/src/pages/user/feedback-list.tsx
  client/src/pages/user/route-map.tsx
  server/src/lib/api-types/dashboard.ts
  server/src/lib/api-types/feedback.ts
  server/src/lib/api-types/schemas/feedback.ts
  server/src/v1/feedback.ts
  server/src/v1/route-map.ts
  shared/api-types/src/dashboard.ts
  shared/api-types/src/feedback.ts
  shared/api-types/src/schemas/feedback.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

fix: Wrap authprovider in queryClient
  client/src/main.tsx
Labels: Scope: Client

feat: route for get event and join event page
  client/src/pages/user/route-map.tsx
  server/src/v1/route-map.ts
Labels: Scope: Server, Scope: Client

feat: api endpoint for getting specific event
  server/src/v1/event.ts
Labels: Scope: Server

fix: Wrap authprovider in queryClient (#271)
  client/src/main.tsx
Labels: Scope: Client

chore: Remove react.svg from generated template
  client/src/assets/react.svg
Labels: Scope: Client

feat: changed event list to view only
  client/src/pages/user/event-list.tsx
Labels: Scope: Client

feat: event manage for admin side
  client/src/pages/user/event-manage.tsx
Labels: Scope: Client

chore: Remove react.svg from generated template (#272)
  client/src/assets/react.svg
Labels: Scope: Client

fix: fix pr issues
  client/src/pages/auth/route-map.tsx
  client/src/pages/auth/verification.tsx
  server/src/utils/service/email/email.ts
  server/src/utils/service/email/templates/verification-code.ts
  server/src/v1/user.ts
Labels: Scope: Server, Scope: Client

feat: added notNull to description
  client/src/pages/user/create-events.tsx
  client/src/pages/user/event-list.tsx
  server/src/db/schemas.ts
Labels: Scope: Server, Scope: Client

perf: Mark type imports properly
  client/src/service/auth.tsx
Labels: Scope: Client

feat: Do not have a state for each derrived value
  client/src/service/auth.tsx
Labels: Scope: Client

feat: add validation messages for feedback form
  client/src/pages/user/feedback.tsx
Labels: Scope: Client

feat: Move all http calls to tanstack mutation/query
  client/src/service/auth.tsx
Labels: Scope: Client

fix: fix all linting errors
  client/src/pages/user/create-events.tsx
Labels: Scope: Client

feat: Convert IEmailDetails to generic
  server/src/utils/service/email/email.ts
Labels: Scope: Server

feat: Migrate DB
  server/migrations/0024_military_master_chief.sql
  server/migrations/meta/0024_snapshot.json
  server/migrations/meta/_journal.json
Labels: Scope: Server

feat: added notNull to description (#273)
  client/src/pages/user/create-events.tsx
  client/src/pages/user/event-list.tsx
  server/migrations/0024_military_master_chief.sql
  server/migrations/meta/0024_snapshot.json
  server/migrations/meta/_journal.json
  server/src/db/schemas.ts
Labels: Scope: Server, Scope: Client

fix: remove unnecessary comments from user.ts
  server/src/v1/user.ts
Labels: Scope: Server

fix: fix format errors
  server/src/v1/user.ts
Labels: Scope: Server

fix: fix linting errors
  server/src/v1/user.ts
Labels: Scope: Server

feat: Creating verification email and token (#269)
  client/src/pages/auth/route-map.tsx
  client/src/pages/auth/verification.tsx
  server/src/utils/service/email/email.ts
  server/src/utils/service/email/templates/verification-code.ts
  server/src/utils/service/email/templates/verification-code.tsx
  server/src/v1/user.ts
Labels: Scope: Server, Scope: Client

refactor: use zod for validation messages
  client/src/lib/api-types/schemas/feedback.ts
  client/src/pages/user/feedback.tsx
  server/src/lib/api-types/schemas/feedback.ts
  shared/api-types/src/schemas/feedback.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

refactor: add validation using zod
  client/src/lib/api-types/schemas/event.ts
  server/src/lib/api-types/schemas/event.ts
  shared/api-types/src/schemas/event.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: display individual events
  client/src/pages/user/join-events.tsx
Labels: Scope: Client

.github/labeler.yml:

# This file is for the labeler workflow
# Documentation https://github.com/marketplace/actions/labeler

Documentation:
  - changed-files:
      - any-glob-to-any-file: [docs/**, '**/*.{md,mdx}']

'Type: Test':
  - changed-files:
      - any-glob-to-any-file: [tests/**, ./*test*]

'Type: CI':
  - changed-files:
      - any-glob-to-any-file: [.github/workflows/**]

'Scope: Server':
  - changed-files:
      - any-glob-to-any-file: [server/**]

'Scope: Client':
  - changed-files:
      - any-glob-to-any-file: [client/**]

'Scope: Utilities':
  - changed-files:
      - any-glob-to-any-file: [shared/**]
