Repository caffeine-addictt/greenbitessg, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Type: Test, Type: CI, Scope: Server, Scope: Client, Scope: Utilities

.github/labeler.yml:

# This file is for the labeler workflow
# Documentation https://github.com/marketplace/actions/labeler

Documentation:
  - changed-files:
      - any-glob-to-any-file: [docs/**, '**/*.{md,mdx}']

'Type: Test':
  - changed-files:
      - any-glob-to-any-file: [tests/**, ./*test*]

'Type: CI':
  - changed-files:
      - any-glob-to-any-file: [.github/workflows/**]

'Scope: Server':
  - changed-files:
      - any-glob-to-any-file: [server/**]

'Scope: Client':
  - changed-files:
      - any-glob-to-any-file: [client/**]

'Scope: Utilities':
  - changed-files:
      - any-glob-to-any-file: [shared/**]

fix: Return 0 instead of 1 on already synced
  sync_shared.sh
Labels: none

fix: check_sync exit code not checked
  sync_shared.sh
Labels: none

chore(deps-dev): Add nodemon for watching
  package-lock.json
  package.json
Labels: none

chore(script): Watch and sync shared/api-types
  package.json
Labels: none

chore(sync): Format code before committing
  sync_shared.sh
Labels: none

fix: stdout also passed to equality check
  sync_shared.sh
Labels: none

chore(sync): Add --with-commit flag
  package.json
  sync_shared.sh
Labels: none

chore: Update program name
  client/index.html
Labels: Scope: Client

chore(scripts): Run sync script without commit
  package.json
Labels: none

chore(sync): Add formatting and help option
  sync_shared.sh
Labels: none

chore(sync): Sync shared/api-types
  client/src/lib/api-types/auth.ts
  client/src/lib/api-types/schemas.ts
  server/src/lib/api-types/auth.ts
  server/src/lib/api-types/schemas.ts
Labels: Scope: Server, Scope: Client

chore(sync): Format in sync script
  package.json
Labels: none

chore(deps-client): Add react icons
  client/package.json
  package-lock.json
Labels: Scope: Client

revert(server): Deprecate route-level caching
  server/src/index.ts
  server/src/middleware/caching.ts
  server/src/route-map.ts
  server/src/v1/route-map.ts
Labels: Scope: Server

feat: Make form width consistent
  client/src/pages/auth/register.tsx
Labels: Scope: Client

feat: Login page (no jwt)
  client/src/pages/auth/login.tsx
  client/src/pages/auth/register.tsx
  client/src/pages/auth/route-map.tsx
  server/src/v1/auth.ts
  server/src/v1/route-map.ts
  shared/api-types/src/auth.ts
  shared/api-types/src/schemas.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

chore(license): Make explicitly 3.0 only
  CITATION.cff
Labels: none

chore(license): Remove header in css and html
  client/index.html
  client/src/styles/globals.css
Labels: Scope: Client

chore(sync): Sync shared/api-types
  client/src/lib/api-types/auth.ts
  client/src/lib/api-types/errors.ts
  client/src/lib/api-types/http-methods.ts
  client/src/lib/api-types/index.ts
  client/src/lib/api-types/schemas.ts
  server/src/lib/api-types/auth.ts
  server/src/lib/api-types/errors.ts
  server/src/lib/api-types/http-methods.ts
  server/src/lib/api-types/index.ts
  server/src/lib/api-types/schemas.ts
Labels: Scope: Server, Scope: Client

chore(license): Update license headers REUSE compliance
  client/postcss.config.js
  client/src/components/footer.tsx
  client/src/components/navbar.tsx
  client/src/components/ui/README.md
  client/src/components/ui/button.tsx
  client/src/components/ui/form.tsx
  client/src/components/ui/input.tsx
  client/src/components/ui/label.tsx
  client/src/components/ui/switch.tsx
  client/src/main.tsx
  client/src/pages/404.tsx
  client/src/pages/auth/login.tsx
  client/src/pages/auth/logout.tsx
  client/src/pages/auth/register.tsx
  client/src/pages/auth/route-map.tsx
  client/src/pages/root.tsx
  client/src/pages/route-map.tsx
  client/src/utils/http.ts
  client/src/utils/tailwind.ts
  client/src/vite-env.d.ts
  client/tailwind.config.ts
  client/vite.config.ts
  server/src/index.html
  server/src/index.ts
  server/src/middleware/caching.ts
  server/src/middleware/errors.ts
  server/src/middleware/rate-limiting.ts
  server/src/route-map.ts
  server/src/types/express-async-errors.d.ts
  server/src/v1/auth.ts
  server/src/v1/route-map.ts
  shared/api-types/src/auth.ts
  shared/api-types/src/errors.ts
  shared/api-types/src/http-methods.ts
  shared/api-types/src/index.ts
  shared/api-types/src/schemas.ts
Labels: Documentation, Scope: Server, Scope: Client, Scope: Utilities

fix: Bad username not showing error
  client/src/pages/auth/register.tsx
Labels: Scope: Client

refactor: Move and add http codes to its own file
  shared/api-types/src/errors.ts
  shared/api-types/src/http-codes.ts
  shared/api-types/src/index.ts
Labels: Scope: Utilities

feat: Add isHttpMethod
  shared/api-types/src/http-methods.ts
Labels: Scope: Utilities

feat: Add isApiResponse
  shared/api-types/src/index.ts
Labels: Scope: Utilities

test(api-types): Jest setup
  package-lock.json
  shared/api-types/jest.config.ts
  shared/api-types/package.json
  shared/api-types/tsconfig.json
Labels: Scope: Utilities

test(shared): Add tests
  shared/api-types/tests/http-codes.test.ts
  shared/api-types/tests/http-methods.test.ts
  shared/api-types/tests/index.test.ts
Labels: Scope: Utilities

refactor: Make compatible with api-types
  client/src/utils/http.ts
  server/src/middleware/caching.ts
  server/src/middleware/errors.ts
  server/src/route-map.ts
  server/src/v1/auth.ts
Labels: Scope: Server, Scope: Client

chore(sync): Sync shared/api-types
  client/src/lib/api-types/errors.ts
  client/src/lib/api-types/http-codes.ts
  client/src/lib/api-types/http-methods.ts
  client/src/lib/api-types/index.ts
  server/src/lib/api-types/errors.ts
  server/src/lib/api-types/http-codes.ts
  server/src/lib/api-types/http-methods.ts
  server/src/lib/api-types/index.ts
Labels: Scope: Server, Scope: Client

chore(license): Add license headers
  shared/api-types/tests/http-codes.test.ts
  shared/api-types/tests/http-methods.test.ts
  shared/api-types/tests/index.test.ts
Labels: Scope: Utilities

feat: Update name to GreenBitesSG
  CITATION.cff
  client/index.html
  client/src/main.tsx
  server/src/index.html
Labels: Scope: Server, Scope: Client

feat: Update description
  CITATION.cff
  client/src/main.tsx
  client/src/pages/auth/route-map.tsx
Labels: Scope: Client

docs(citation): Add keywords
  CITATION.cff
Labels: none

docs: Update repository name
  .github/ISSUE_TEMPLATE/1-bug-report.md
  .github/ISSUE_TEMPLATE/2-failing-test.md
  .github/ISSUE_TEMPLATE/3-docs-bug.md
  .github/ISSUE_TEMPLATE/4-feature-request.md
  .github/ISSUE_TEMPLATE/5-enhancement-request.md
  .github/ISSUE_TEMPLATE/6-security-report.md
  CITATION.cff
  README.md
Labels: Documentation

Client SEO and update project info (#118)
  .github/ISSUE_TEMPLATE/1-bug-report.md
  .github/ISSUE_TEMPLATE/2-failing-test.md
  .github/ISSUE_TEMPLATE/3-docs-bug.md
  .github/ISSUE_TEMPLATE/4-feature-request.md
  .github/ISSUE_TEMPLATE/5-enhancement-request.md
  .github/ISSUE_TEMPLATE/6-security-report.md
  CITATION.cff
  README.md
  client/index.html
  client/src/main.tsx
  client/src/pages/auth/route-map.tsx
  client/src/pages/route-map.tsx
  server/src/index.html
Labels: Documentation, Scope: Server, Scope: Client

ci(dependabot): NPM updates daily -> weekly
  .github/dependabot.yml
Labels: none

ci(dependabot): NPM updates daily -> weekly (#148)
  .github/dependabot.yml
Labels: none

chore: Update name
  package-lock.json
Labels: none

feat: basic homepage layout
  client/src/pages/root.tsx
Labels: Scope: Client

feat: updated start now section
  client/src/pages/root.tsx
Labels: Scope: Client

feat: Increased spacing between each section
  client/src/pages/root.tsx
Labels: Scope: Client
