Repository caffeine-addictt/greenbitessg, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Type: Test, Type: CI, Scope: Server, Scope: Client, Scope: Utilities

.github/labeler.yml:

# This file is for the labeler workflow
# Documentation https://github.com/marketplace/actions/labeler

Documentation:
  - changed-files:
      - any-glob-to-any-file: [docs/**, '**/*.{md,mdx}']

'Type: Test':
  - changed-files:
      - any-glob-to-any-file: [tests/**, ./*test*]

'Type: CI':
  - changed-files:
      - any-glob-to-any-file: [.github/workflows/**]

'Scope: Server':
  - changed-files:
      - any-glob-to-any-file: [server/**]

'Scope: Client':
  - changed-files:
      - any-glob-to-any-file: [client/**]

'Scope: Utilities':
  - changed-files:
      - any-glob-to-any-file: [shared/**]

fix:fix formatting errors
  client/src/pages/route-map.tsx
Labels: Scope: Client

fix: fix formatting errors
  client/src/pages/user/accountsettings.tsx
  client/src/utils/http.ts
Labels: Scope: Client

fix: changes in the workspace
  server/src/db/schemas.ts
Labels: Scope: Server

feat: Abstract caching handling implementation
  client/src/utils/http.ts
Labels: Scope: Client

feat: Implement PUT
  client/src/utils/http.ts
Labels: Scope: Client

feat: Implement DELETE
  client/src/utils/http.ts
Labels: Scope: Client

feat: added delete api endpoints
  client/src/lib/api-types/user.ts
  server/src/lib/api-types/user.ts
  server/src/v1/route-map.ts
  server/src/v1/user.ts
  shared/api-types/src/user.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: added homepage for everyone and integrate delete user with update
  client/src/pages/user/accountsettings.tsx
  client/src/pages/user/homepage.tsx
Labels: Scope: Client

extra changes
  client/src/shared/.eslintrc.json
  client/src/shared/jest.config.ts
  client/src/shared/package.json
  client/src/shared/tsconfig.json
  server/src/shared/.eslintrc.json
  server/src/shared/api-types/.eslintrc.json
  server/src/shared/api-types/jest.config.ts
  server/src/shared/api-types/package.json
  server/src/shared/api-types/src/auth.ts
  server/src/shared/api-types/src/errors.ts
  server/src/shared/api-types/src/feedback.ts
  server/src/shared/api-types/src/http-codes.ts
  server/src/shared/api-types/src/http-methods.ts
  server/src/shared/api-types/src/index.ts
  server/src/shared/api-types/src/schemas/auth.ts
  server/src/shared/api-types/src/schemas/feedback.ts
  server/src/shared/api-types/src/schemas/index.ts
  server/src/shared/api-types/src/schemas/user.ts
  server/src/shared/api-types/src/user.ts
  server/src/shared/api-types/tests/http-codes.test.ts
  server/src/shared/api-types/tests/http-methods.test.ts
  server/src/shared/api-types/tests/index.test.ts
  server/src/shared/api-types/tsconfig.json
  server/src/shared/jest.config.ts
  server/src/shared/package.json
  server/src/shared/src/auth.ts
  server/src/shared/src/errors.ts
  server/src/shared/src/feedback.ts
  server/src/shared/src/http-codes.ts
  server/src/shared/src/http-methods.ts
  server/src/shared/src/index.ts
  server/src/shared/src/schemas/auth.ts
  server/src/shared/src/schemas/feedback.ts
  server/src/shared/src/schemas/index.ts
  server/src/shared/src/schemas/user.ts
  server/src/shared/src/user.ts
  server/src/shared/tests/http-codes.test.ts
  server/src/shared/tests/http-methods.test.ts
  server/src/shared/tests/index.test.ts
  server/src/shared/tsconfig.json
Labels: Scope: Server, Scope: Client

fix: fix format error
  client/src/pages/route-map.tsx
  client/src/pages/user/accountsettings.tsx
  client/src/pages/user/homepage.tsx
  server/src/v1/route-map.ts
Labels: Scope: Server, Scope: Client

fix: made changes for application to function
  client/src/pages/user/route-map.tsx
  package-lock.json
Labels: Scope: Client

fix: Use useState for timeout and query
  client/src/pages/food/food.tsx
Labels: Scope: Client

fix: API accepts q not query
  client/src/pages/food/food.tsx
Labels: Scope: Client

feat: add /v1/event DELETE
  client/src/lib/api-types/event.ts
  client/src/pages/user/event-list.tsx
  client/src/pages/user/route-map.tsx
  client/src/utils/http.ts
  server/src/lib/api-types/event.ts
  server/src/v1/event.ts
  server/src/v1/route-map.ts
  shared/api-types/src/event.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

fix: fix linting errors
  server/src/v1/route-map.ts
Labels: Scope: Server

chore: Update lock-file
  package-lock.json
Labels: none

chore: Update package.json
  package.json
Labels: none

fix: DO NOT USE "@" FOR SERVER
  server/src/v1/feedback.ts
Labels: Scope: Server

fix: Do not use deprecated nonempty()
  server/src/v1/event.ts
  server/src/v1/feedback.ts
Labels: Scope: Server

fix: Missing db schema stuff
  server/src/db/schemas.ts
Labels: Scope: Server

revert: remove useless isRead from notif
  server/src/db/schemas.ts
Labels: Scope: Server

fix: DB naming weirdness
  server/src/db/schemas.ts
Labels: Scope: Server

chore: Migrate db
  server/migrations/0022_past_natasha_romanoff.sql
  server/migrations/meta/0022_snapshot.json
  server/migrations/meta/_journal.json
Labels: Scope: Server

revert: Get rid of useless comments
  server/src/db/schemas.ts
Labels: Scope: Server

fix: DO NOT USE "@" FOR SERVER
  server/src/v1/event.ts
Labels: Scope: Server

feat: Rename accountsettings -> settings
  client/src/pages/user/route-map.tsx
  client/src/pages/user/settings.tsx
Labels: Scope: Client

feat: Add settings and home page (#226)
  client/src/lib/api-types/event.ts
  client/src/lib/api-types/index.ts
  client/src/lib/api-types/schemas/user.ts
  client/src/lib/api-types/user.ts
  client/src/pages/auth/route-map.tsx
  client/src/pages/route-map.tsx
  client/src/pages/user/create-events.tsx
  client/src/pages/user/event-list.tsx
  client/src/pages/user/feedback.tsx
  client/src/pages/user/homepage.tsx
  client/src/pages/user/route-map.tsx
  client/src/pages/user/settings.tsx
  server/migrations/0022_past_natasha_romanoff.sql
  server/migrations/meta/0022_snapshot.json
  server/migrations/meta/_journal.json
  server/src/db/schemas.ts
  server/src/lib/api-types/event.ts
  server/src/lib/api-types/index.ts
  server/src/lib/api-types/schemas/user.ts
  server/src/lib/api-types/user.ts
  server/src/v1/event.ts
  server/src/v1/feedback.ts
  server/src/v1/route-map.ts
  server/src/v1/user.ts
  shared/api-types/src/event.ts
  shared/api-types/src/index.ts
  shared/api-types/src/schemas/user.ts
  shared/api-types/src/user.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

chore: Fix package lock
  package-lock.json
Labels: none

chore: Add license header
  client/src/pages/user/create-events.tsx
  client/src/pages/user/event-list.tsx
  server/src/v1/event.ts
Labels: Scope: Server, Scope: Client

fix: DO NOT ADD TYPES IN API ONLY
  client/src/lib/api-types/schemas/event.ts
  server/src/lib/api-types/schemas/event.ts
  server/src/v1/event.ts
  shared/api-types/src/schemas/event.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

fix: Merge artifacts
  client/src/pages/route-map.tsx
  server/src/v1/route-map.ts
Labels: Scope: Server, Scope: Client

chore: Get rid of useless comments
  client/src/pages/user/create-events.tsx
  client/src/pages/user/event-list.tsx
  server/src/v1/event.ts
Labels: Scope: Server, Scope: Client

fix: DO NOT TRY CATCH A PROMISE
  client/src/pages/user/create-events.tsx
  server/src/v1/event.ts
Labels: Scope: Server, Scope: Client

feat: Add bare events page (#223)
  client/src/lib/api-types/schemas/event.ts
  client/src/pages/auth/route-map.tsx
  client/src/pages/route-map.tsx
  client/src/pages/user/create-events.tsx
  client/src/pages/user/event-list.tsx
  server/src/lib/api-types/schemas/event.ts
  server/src/v1/event.ts
  shared/api-types/src/schemas/event.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

fix: fixed errors in create-events.t sx
  client/src/pages/user/create-events.tsx
Labels: Scope: Client

fix: create-events.tsx
  client/src/pages/user/create-events.tsx
Labels: Scope: Client

fix: pull request formatting errors
  client/src/pages/user/create-events.tsx
Labels: Scope: Client

fix formatting errors
  client/src/pages/user/create-events.tsx
Labels: Scope: Client

fix: fix formatting errors
  client/src/pages/user/create-events.tsx
Labels: Scope: Client

fix: Unable to create events (#249)
  client/src/pages/user/create-events.tsx
Labels: Scope: Client
