Repository caffeine-addictt/greenbitessg, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Type: Test, Type: CI, Scope: Server, Scope: Client, Scope: Utilities

feat: Rename switcher "Sign up" -> "Register"
  client/src/pages/auth/authLayout.tsx
Labels: Scope: Client

feat: Implement carousel
  client/src/pages/auth/authLayout.tsx
Labels: Scope: Client

feat: Add login options at /login
  client/src/pages/auth/login-options.tsx
  client/src/pages/auth/route-map.tsx
Labels: Scope: Client

fix: Sizes should be 1x for the largest size
  client/src/pages/auth/authLayout.tsx
Labels: Scope: Client

feat: Make the main content larger and not 50-50
  client/src/pages/auth/authLayout.tsx
Labels: Scope: Client

feat: center and col children
  client/src/pages/auth/authLayout.tsx
Labels: Scope: Client

feat: Follow filename ".*-.*" convention
  client/src/pages/auth/auth-layout.tsx
  client/src/pages/auth/login-options.tsx
  client/src/pages/auth/route-map.tsx
Labels: Scope: Client

feat: Rename legacy -> legacy-login
  client/src/pages/auth/legacy-login.tsx
  client/src/pages/auth/route-map.tsx
Labels: Scope: Client

feat: Use auth layout for legacy login
  client/src/pages/auth/legacy-login.tsx
Labels: Scope: Client

revert: Remove unused import
  client/src/pages/auth/route-map.tsx
Labels: Scope: Client

fixup! feat: Follow filename ".*-.*" convention
  client/src/pages/auth/legacy-register.tsx
  client/src/pages/auth/route-map.tsx
Labels: Scope: Client

fix: Unawaited promise will always be truthy
  server/src/v1/auth/legacy.ts
Labels: Scope: Server

fix: Unawaited promise will always be truthy (#208)
  server/src/v1/auth/legacy.ts
Labels: Scope: Server

feat: Make the login/register public only
  client/src/pages/auth/route-map.tsx
Labels: Scope: Client

feat: Add /register page
  client/src/pages/auth/register-options.tsx
  client/src/pages/auth/route-map.tsx
Labels: Scope: Client

fix: Use explict path for image
  client/src/pages/auth/auth-layout.tsx
Labels: Scope: Client

feat: Increase margin-Y around header
  client/src/pages/auth/legacy-login.tsx
Labels: Scope: Client

feat: Resize button widths
  client/src/pages/auth/legacy-login.tsx
Labels: Scope: Client

feat: use ghost variant on show/hide password
  client/src/pages/auth/legacy-login.tsx
Labels: Scope: Client

feat: Use default variant on submit button
  client/src/pages/auth/legacy-login.tsx
Labels: Scope: Client

feat: Add spinner for submitting state
  client/src/pages/auth/legacy-login.tsx
Labels: Scope: Client

feat: Toast errors on login
  client/src/pages/auth/legacy-login.tsx
Labels: Scope: Client

revert: Do not redirect in auth provider
  client/src/service/auth.tsx
Labels: Scope: Client

feat: Allow internallink to preserve callbackURI
  client/src/components/ui/button.tsx
Labels: Scope: Client

feat: Make href required for Link component
  client/src/components/ui/button.tsx
Labels: Scope: Client

feat: Use callbackURI instead of location.state
  client/src/main.tsx
  client/src/pages/auth/activate.tsx
  client/src/pages/auth/legacy-login.tsx
  client/src/pages/auth/legacy-register.tsx
Labels: Scope: Client

feat: Preserve callback routing between auth pages
  client/src/pages/auth/auth-layout.tsx
  client/src/pages/auth/login-options.tsx
  client/src/pages/auth/register-options.tsx
Labels: Scope: Client

feat: Add disabled to links
  client/src/components/ui/button.tsx
Labels: Scope: Client

revert: Un-abstract switcher links
  client/src/pages/auth/auth-layout.tsx
Labels: Scope: Client

feat: Update auth layout
  client/src/pages/auth/auth-layout.tsx
Labels: Scope: Client

feat: Update registerFormSchema
  client/src/lib/api-types/schemas/auth.ts
  client/src/pages/auth/legacy-register.tsx
  server/src/lib/api-types/schemas/auth.ts
  shared/api-types/src/schemas/auth.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: use auth options title and subtitle
  client/src/pages/auth/legacy-login.tsx
  client/src/pages/auth/legacy-register.tsx
  client/src/pages/auth/login-options.tsx
  client/src/pages/auth/register-options.tsx
Labels: Scope: Client

feat: use default variant for submit button
  client/src/pages/auth/legacy-register.tsx
Labels: Scope: Client

feat: Update /auth/register page
  client/src/pages/auth/legacy-register.tsx
Labels: Scope: Client

revert: Remove DOB on user model
  server/migrations/0017_graceful_arclight.sql
  server/migrations/meta/0017_snapshot.json
  server/migrations/meta/_journal.json
  server/src/db/schemas.ts
  server/src/v1/auth/legacy.ts
Labels: Scope: Server

feat: Remove trailing slash for auth routes
  client/src/pages/auth/auth-layout.tsx
Labels: Scope: Client

feat: disable switcher only if not on options page
  client/src/pages/auth/auth-layout.tsx
Labels: Scope: Client

feat: Use useMutation hook instead
  client/src/pages/auth/passkey.tsx
Labels: Scope: Client

feat: Update /auth0/login
  client/src/pages/auth/passkey.tsx
Labels: Scope: Client

feat: Update action buttons
  client/src/pages/auth/legacy-login.tsx
  client/src/pages/auth/legacy-register.tsx
  client/src/pages/auth/passkey.tsx
Labels: Scope: Client

.github/labeler.yml:

# This file is for the labeler workflow
# Documentation https://github.com/marketplace/actions/labeler

Documentation:
  - changed-files:
      - any-glob-to-any-file: [docs/**, '**/*.{md,mdx}']

'Type: Test':
  - changed-files:
      - any-glob-to-any-file: [tests/**, ./*test*]

'Type: CI':
  - changed-files:
      - any-glob-to-any-file: [.github/workflows/**]

'Scope: Server':
  - changed-files:
      - any-glob-to-any-file: [server/**]

'Scope: Client':
  - changed-files:
      - any-glob-to-any-file: [client/**]

'Scope: Utilities':
  - changed-files:
      - any-glob-to-any-file: [shared/**]
