Repository caffeine-addictt/greenbitessg, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Type: Test, Type: CI, Scope: Server, Scope: Client, Scope: Utilities

.github/labeler.yml:

# This file is for the labeler workflow
# Documentation https://github.com/marketplace/actions/labeler

Documentation:
  - changed-files:
      - any-glob-to-any-file: [docs/**, '**/*.{md,mdx}']

'Type: Test':
  - changed-files:
      - any-glob-to-any-file: [tests/**, ./*test*]

'Type: CI':
  - changed-files:
      - any-glob-to-any-file: [.github/workflows/**]

'Scope: Server':
  - changed-files:
      - any-glob-to-any-file: [server/**]

'Scope: Client':
  - changed-files:
      - any-glob-to-any-file: [client/**]

'Scope: Utilities':
  - changed-files:
      - any-glob-to-any-file: [shared/**]

feat: Use authLayout on /activate routes
  client/src/pages/auth/activate.tsx
Labels: Scope: Client

feat: Add toasting to /activate routes
  client/src/pages/auth/activate.tsx
Labels: Scope: Client

test: Add tests for password
  server/src/utils/password.test.ts
Labels: Scope: Server

fix: Hash length increased to 128 randomly
  server/src/utils/password.ts
Labels: Scope: Server

feat: Navbar layout with images
  client/public/dropdown.svg
  client/public/logo_279x279.webp
  client/public/notificationBell.svg
  client/src/components/navbar.tsx
  client/src/main.tsx
Labels: Scope: Client

refactor (client): remove mui material from the account.tsx
  client/src/http.ts
  client/src/pages/root.tsx
  client/src/pages/user/accountsettings.tsx
Labels: Scope: Client

feat(client): Created staff homepage frontend
  client/src/pages/user/homepage.tsx
Labels: Scope: Client

feat (client): Added route-map.tsx to load page
  client/src/pages/user/accountsettings.tsx
  client/src/pages/user/route-map.tsx
Labels: Scope: Client

refactor (client): Rectified pages/route-map.tsx for account settings to display
  client/src/lib/api-types/schemas/user.ts
  client/src/pages/route-map.tsx
  client/src/pages/user/accountsettings.tsx
  client/src/pages/user/route-map.tsx
Labels: Scope: Client

refactor (client): remove all mui material features used for employee.tsx and updateemployee.tsx
  client/src/pages/user/employee.tsx
Labels: Scope: Client

refactor (client): remove all mui material features used for employee.tsx and updateemployee.tsx
  client/src/pages/user/updateemployee.tsx
Labels: Scope: Client

refactor(client): rectified route-map.tsx
  client/src/pages/route-map.tsx
  client/src/pages/user/route-map.tsx
  server/src/db/schemas.ts
  shared/api-types/src/schemas/index.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

refactor(client): Recitified changes in route-map.tsx
  client/src/pages/route-map.tsx
Labels: Scope: Client

refactor(client): any additional changes
  client/src/pages/user/route-map.tsx
  package-lock.json
  package.json
Labels: Scope: Client

refactor(client): Format code to ensure better styling
  client/src/pages/user/homepage.tsx
  client/src/pages/user/inviteclient.tsx
  client/src/pages/user/route-map.tsx
Labels: Scope: Client

feat(client): Create new page Invite Client
  client/src/pages/user/inviteclient.tsx
  client/src/pages/user/route-map.tsx
Labels: Scope: Client

feat(client): Create createevents.ts x
  client/src/pages/route-map.tsx
  client/src/pages/user/createevents.tsx
  client/src/pages/user/route-map.tsx
Labels: Scope: Client

feat(client): Create eventlist.tsx
  client/src/pages/user/eventlist.tsx
Labels: Scope: Client

feat(client): Create schema event.ts
  client/src/lib/api-types/schemas/event.ts
Labels: Scope: Client

refactor(client): Add test data for eventlist.tsx
  client/src/lib/api-types/schemas/event.ts
  client/src/pages/user/eventlist.tsx
Labels: Scope: Client

refactor: adding schemas for create events and event list page
  client/src/lib/api-types/event.ts
  shared/api-types/src/schemas/event.ts
Labels: Scope: Client, Scope: Utilities

feat(client): Created feedback form along with feedbackSchema.ts
  client/src/lib/api-types/schemas/feedbackSchema.ts
  client/src/pages/user/feedback.tsx
Labels: Scope: Client

feat(client): create route map to di splay the page in the application
  client/src/pages/user/route-map.tsx
Labels: Scope: Client

feat(client): create route map to di splay the page in the application
  client/src/pages/route-map.tsx
Labels: Scope: Client

feat(client): create route map to di splay the page in the application
  client/src/pages/user/route-map.tsx
Labels: Scope: Client

Ensure sync in client
  client/src/lib/api-types/schemas/user.ts
  client/src/pages/root.tsx
  client/src/pages/route-map.tsx
  client/src/pages/user/accountsettings.tsx
  client/src/pages/user/route-map.tsx
  package.json
  shared/api-types/src/schemas/index.ts
Labels: Scope: Client, Scope: Utilities

Synchronize shared/api-types with client and server
  client/src/lib/api-types/schemas/user.ts
  client/src/pages/user/accountsettings.tsx
  client/src/pages/user/route-map.tsx
Labels: Scope: Client

change route-map.tsx
  client/src/pages/user/route-map.tsx
Labels: Scope: Client

refactor: update route-map.tsx to include eventlist page
  client/src/pages/user/route-map.tsx
Labels: Scope: Client

Add missing event schema to api-types in server
  server/src/lib/api-types/schemas/event.ts
Labels: Scope: Server

Synchronize shared/api-types with server and client
  server/src/lib/api-types/event.ts
  shared/api-types/src/event.ts
Labels: Scope: Server, Scope: Utilities

updated all relevant server side files for events
  server/src/db/schemas.ts
  server/src/lib/api-types/event.ts
  server/src/lib/api-types/schemas/index.ts
  server/src/v1/event.ts
Labels: Scope: Server

Sync server api-types with shared/api-types
  server/src/lib/api-types/event.ts
  server/src/lib/api-types/schemas/index.ts
Labels: Scope: Server

Sync server api-types with shared/api-types
  client/src/lib/api-types/event.ts
  client/src/lib/api-types/schemas/index.ts
  server/src/v1/event.ts
  shared/api-types/src/event.ts
  shared/api-types/src/schemas/index.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

Schema update for feedback
  client/src/lib/api-types/feedback.ts
  client/src/lib/api-types/schemas/feedback.ts
  client/src/lib/api-types/schemas/index.ts
  client/src/pages/user/feedback.tsx
  server/src/db/schemas.ts
  server/src/lib/api-types/feedback.ts
  server/src/lib/api-types/schemas/feedback.ts
  server/src/lib/api-types/schemas/index.ts
  shared/api-types/src/feedback.ts
  shared/api-types/src/schemas/feedback.ts
  shared/api-types/src/schemas/index.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

update the API routes for event.ts
  client/src/lib/api-types/event.ts
  server/src/lib/api-types/event.ts
  server/src/v1/event.ts
  server/src/v1/route-map.ts
  shared/api-types/src/event.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

lint issues #898
  client/src/components/ui/toast.tsx
  client/src/lib/api-types/schemas/event.ts
  client/src/lib/api-types/schemas/index.ts
  client/src/main.tsx
  client/src/pages/auth/auth-layout.tsx
  client/src/pages/route-map.tsx
  client/src/pages/user/createevents.tsx
  client/src/pages/user/eventlist.tsx
  client/src/pages/user/route-map.tsx
  server/src/db/schemas.ts
  server/src/lib/api-types/schemas/event.ts
  server/src/lib/api-types/schemas/index.ts
  server/src/v1/event.ts
  server/src/v1/route-map.ts
  shared/api-types/src/schemas/event.ts
  shared/api-types/src/schemas/index.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

refactor: fix linting errors
  client/src/lib/api-types/feedback.ts
  client/src/lib/api-types/schemas/index.ts
  client/src/pages/route-map.tsx
  client/src/pages/user/feedback.tsx
  server/src/lib/api-types/feedback.ts
  server/src/lib/api-types/schemas/index.ts
  shared/api-types/src/feedback.ts
  shared/api-types/src/schemas/index.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

refactor: fix linting errors
  client/src/pages/user/employee.tsx
  client/src/pages/user/updateemployee.tsx
Labels: Scope: Client

feat: created route-map.tsx and added employee route
  client/src/pages/user/route-map.tsx
Labels: Scope: Client
