Repository caffeine-addictt/greenbitessg, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Type: Test, Type: CI, Scope: Server, Scope: Client, Scope: Utilities

.github/labeler.yml:

# This file is for the labeler workflow
# Documentation https://github.com/marketplace/actions/labeler

Documentation:
  - changed-files:
      - any-glob-to-any-file: [docs/**, '**/*.{md,mdx}']

'Type: Test':
  - changed-files:
      - any-glob-to-any-file: [tests/**, ./*test*]

'Type: CI':
  - changed-files:
      - any-glob-to-any-file: [.github/workflows/**]

'Scope: Server':
  - changed-files:
      - any-glob-to-any-file: [server/**]

'Scope: Client':
  - changed-files:
      - any-glob-to-any-file: [client/**]

'Scope: Utilities':
  - changed-files:
      - any-glob-to-any-file: [shared/**]

feat: Add user endpoint types
  client/src/lib/api-types/user.ts
  server/src/lib/api-types/user.ts
  shared/api-types/src/user.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

fix: Check recursively
  check_sync.sh
Labels: none

feat: Add /v1/user endpoint
  server/src/v1/route-map.ts
  server/src/v1/user.ts
Labels: Scope: Server

feat: Set token freshness and expiry
  server/src/index.ts
  server/src/middleware/jwt.ts
  server/src/route-map.ts
Labels: Scope: Server

fix: HTTP throwing for cached 302/304
  client/src/utils/http.ts
Labels: Scope: Client

feat: Add user to auth context
  client/src/service/auth.tsx
Labels: Scope: Client

revert: Do not GET user after login
  client/src/service/auth.tsx
Labels: Scope: Client

feat: Implement fetch for user object
  client/src/service/auth.tsx
Labels: Scope: Client

feat: Implement refresh tokens logic
  client/src/service/auth.tsx
Labels: Scope: Client

feat: Add jwt decoding
  server/src/utils/service/auth/jwt.ts
Labels: Scope: Server

feat: Add jwt blocklist schema
  server/migrations/0001_faulty_tag.sql
  server/migrations/meta/0001_snapshot.json
  server/migrations/meta/_journal.json
  server/src/db/schemas.ts
Labels: Scope: Server

feat: Implement blocking tokens from being verified
  server/src/middleware/jwt.ts
  server/src/v1/auth.ts
Labels: Scope: Server

fix: Cached response returning T['data'] instead of T
  client/src/utils/http.ts
Labels: Scope: Client

feat: Implement logout invalidating tokens
  client/src/lib/api-types/schemas/auth.ts
  client/src/service/auth.tsx
  server/src/lib/api-types/schemas/auth.ts
  server/src/v1/auth.ts
  server/src/v1/route-map.ts
  shared/api-types/src/schemas/auth.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: Add background jobs
  server/src/cron.ts
  server/src/index.ts
Labels: Scope: Server

fix: Broken schema import path
  client/src/pages/auth/register.tsx
Labels: Scope: Client

feat(client): Added AccountSettings.jsx to Staff Interface in client/
  client/package.json
  client/pages/AccountSettings.jsx
  package-lock.json
Labels: Scope: Client

feat: Add resend
  package-lock.json
  server/package.json
Labels: Scope: Server

feat: Explicitly define relation mulplicity
  server/src/db/schemas.ts
Labels: Scope: Server

feat: Use integer instead of serial for FK
  server/migrations/0002_petite_tarot.sql
  server/migrations/meta/0002_snapshot.json
  server/migrations/meta/_journal.json
  server/src/db/schemas.ts
Labels: Scope: Server

feat: Add tokens table
  server/migrations/0003_past_legion.sql
  server/migrations/meta/0003_snapshot.json
  server/migrations/meta/_journal.json
  server/src/db/schemas.ts
Labels: Scope: Server

feat: cascade delete
  server/migrations/0004_mixed_korath.sql
  server/migrations/meta/0004_snapshot.json
  server/migrations/meta/_journal.json
  server/src/db/schemas.ts
Labels: Scope: Server

fix: Do not explictly define tablename
  server/src/db/schemas.ts
Labels: Scope: Server

chore: Add studio script
  package.json
  server/package.json
Labels: Scope: Server

feat: Add resend
  server/src/check-env.ts
  server/src/types/environment.d.ts
Labels: Scope: Server

feat: Base email sending setup
  server/src/utils/service/email/email.ts
  server/src/utils/service/email/templates/verification-code.tsx
Labels: Scope: Server

feat: Add schemas to db
  server/src/db/index.ts
Labels: Scope: Server

feat: setting up custom color theme
  client/src/main.tsx
  client/tailwind.config.ts
Labels: Scope: Client

fix: extending color theme
  client/tailwind.config.ts
Labels: Scope: Client

feat: setting up dark and light theme
  client/src/main.tsx
Labels: Scope: Client

feat: creating custom color theme (#178)
  client/src/main.tsx
  client/tailwind.config.ts
Labels: Scope: Client

feat: Add app path resolving
  server/src/utils/app.ts
Labels: Scope: Server

feat: Update tokens schema
  server/migrations/0005_aberrant_silk_fever.sql
  server/migrations/meta/0005_snapshot.json
  server/migrations/meta/_journal.json
  server/src/db/schemas.ts
Labels: Scope: Server

feat: Add account not activated on auth
  client/src/lib/api-types/errors.ts
  client/src/lib/api-types/index.ts
  server/src/lib/api-types/errors.ts
  server/src/lib/api-types/index.ts
  server/src/middleware/jwt.ts
  shared/api-types/src/errors.ts
  shared/api-types/src/index.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: Sending activation email
  server/src/utils/service/email/email.ts
  server/src/utils/service/email/templates/account-activation.ts
  server/src/v1/auth.ts
Labels: Scope: Server

feat: Handle activated status on client
  client/src/service/auth.tsx
Labels: Scope: Client

fix: Only redirect if not at the page and state done
  client/src/main.tsx
Labels: Scope: Client

feat: Client check for account activation status
  client/src/main.tsx
Labels: Scope: Client

fix: Protect authenticated routes
  client/src/main.tsx
Labels: Scope: Client

fix: Update email html
  server/src/utils/service/email/templates/account-activation.ts
Labels: Scope: Server
