Repository caffeine-addictt/greenbitessg, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Type: Test, Type: CI, Scope: Server, Scope: Client, Scope: Utilities

feat: Add food DB schema
  server/migrations/0019_black_captain_america.sql
  server/migrations/meta/0019_snapshot.json
  server/migrations/meta/_journal.json
  server/src/db/schemas.ts
Labels: Scope: Server

chore(deps): Add axios to server
  package-lock.json
  server/package.json
Labels: Scope: Server

feat: Add POST /v1/food/generate api-types
  client/src/lib/api-types/food.ts
  client/src/lib/api-types/schemas/food.ts
  client/src/lib/api-types/schemas/index.ts
  server/src/lib/api-types/food.ts
  server/src/lib/api-types/schemas/food.ts
  server/src/lib/api-types/schemas/index.ts
  shared/api-types/src/food.ts
  shared/api-types/src/schemas/food.ts
  shared/api-types/src/schemas/index.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: Add new required API keys
  server/src/check-env.ts
Labels: Scope: Server

feat: Implement POST /v1/food/generate endpoint
  server/src/v1/food/generate.ts
  server/src/v1/food/route-map.ts
  server/src/v1/route-map.ts
Labels: Scope: Server

ci: Run linting on PR
  .github/workflows/linter.yml
Labels: Type: CI

ci: Force using node v20+
  .github/workflows/linter.yml
  .github/workflows/test-worker.yml
Labels: Type: CI

chore(deps): Update lockfile
  package-lock.json
Labels: none

removed the invite client schemas
  client/src/lib/api-types/inviteclient.ts
  client/src/lib/api-types/schemas/index.ts
  client/src/lib/api-types/schemas/inviteclient.ts
  client/src/pages/auth/route-map.tsx
  client/src/pages/route-map.tsx
  client/src/pages/user/accountsettings.tsx
  client/src/pages/user/homepage.tsx
  client/src/pages/user/inviteclient.tsx
  client/src/pages/user/route-map.tsx
  client/src/utils/http.ts
  package.json
  server/src/lib/api-types/inviteclient.ts
  server/src/lib/api-types/schemas/index.ts
  server/src/lib/api-types/schemas/inviteclient.ts
  server/src/v1/inviteclient.ts
  shared/api-types/src/inviteclient.ts
  shared/api-types/src/schemas/index.ts
  shared/api-types/src/schemas/inviteclient.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

refactor: remove frontend for the schema branch
  client/src/pages/route-map.tsx
  client/src/pages/user/dashboard.tsx
  client/src/pages/user/route-map.tsx
  server/src/v1/dashboard.ts
  server/src/v1/route-map.ts
Labels: Scope: Server, Scope: Client

refactor: remove unncessary comments
  client/src/lib/api-types/schemas/dashboard.ts
  client/src/pages/route-map.tsx
  server/src/lib/api-types/schemas/dashboard.ts
  server/src/v1/route-map.ts
  shared/api-types/src/schemas/dashboard.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

refactor: fixed code style issues
  client/src/utils/http.ts
Labels: Scope: Client

refactor: rectified route maps and their paths
  client/src/pages/auth/route-map.tsx
  client/src/pages/route-map.tsx
  client/src/pages/user/dashboard.tsx
  client/src/pages/user/route-map.tsx
Labels: Scope: Client

fix style issues
  client/src/utils/http.ts
Labels: Scope: Client

refactor: fix style issues
  client/src/utils/http.ts
Labels: Scope: Client

feat: Redirect 404 for /auth and /auth0 endpoints to /login
  client/src/pages/auth/auth-redirect.tsx
  client/src/pages/auth/route-map.tsx
Labels: Scope: Client

feat: Redirect 404 for /auth and /auth0 endpoints to /login (#237)
  client/src/pages/auth/auth-redirect.tsx
  client/src/pages/auth/route-map.tsx
Labels: Scope: Client

fix: Remove /v1/availability endpoint
  client/src/lib/api-types/auth.ts
  client/src/pages/auth/legacy-register.tsx
  server/src/lib/api-types/auth.ts
  server/src/v1/availability.ts
  server/src/v1/route-map.ts
  shared/api-types/src/auth.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

fix: Remove /v1/availability endpoint (#238)
  client/src/lib/api-types/auth.ts
  client/src/pages/auth/legacy-register.tsx
  server/src/lib/api-types/auth.ts
  server/src/v1/availability.ts
  server/src/v1/route-map.ts
  shared/api-types/src/auth.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

refactor: rectify schema
  client/src/lib/api-types/schemas/dashboard.ts
  package-lock.json
  package.json
  server/src/lib/api-types/schemas/dashboard.ts
  server/src/v1/route-map.ts
  shared/api-types/src/schemas/dashboard.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

refactor: change account settings to ensure interaction with server
  client/src/pages/user/accountsettings.tsx
Labels: Scope: Client

refactor: changes to dashboard for API processing
  client/src/pages/user/dashboard.tsx
  client/src/utils/http.ts
  package.json
Labels: Scope: Client

feat: Add /v1/food and /v1/food/:id GET api
  client/src/lib/api-types/food.ts
  server/src/lib/api-types/food.ts
  server/src/v1/food/food.ts
  server/src/v1/food/route-map.ts
  shared/api-types/src/food.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: Add /v1/food and /v1/food/:id GET api (#239)
  client/src/lib/api-types/food.ts
  server/src/lib/api-types/food.ts
  server/src/v1/food/food.ts
  server/src/v1/food/route-map.ts
  shared/api-types/src/food.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

fix: Require auth for food endpoint
  server/src/v1/food/route-map.ts
Labels: Scope: Server

fix: handle only GET
  server/src/v1/food/route-map.ts
Labels: Scope: Server

feat: Add /v1/food DELTE endpoint
  client/src/lib/api-types/food.ts
  server/src/lib/api-types/food.ts
  server/src/v1/food/delete.ts
  server/src/v1/food/route-map.ts
  shared/api-types/src/food.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

changes to route-map
  client/src/components/ui/toast.tsx
  client/src/lib/api-types/event.ts
  client/src/lib/api-types/schemas/event.ts
  client/src/main.tsx
  client/src/pages/auth/auth-layout.tsx
  client/src/utils/http.ts
  server/src/db/schemas.ts
  server/src/lib/api-types/event.ts
  server/src/lib/api-types/schemas/event.ts
  server/src/v1/route-map.ts
  shared/api-types/src/event.ts
  shared/api-types/src/schemas/event.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: add dashboard schema to schema -merge
  client/src/lib/api-types/schemas/index.ts
  server/src/db/schemas.ts
  server/src/lib/api-types/schemas/index.ts
  shared/api-types/src/schemas/index.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

refactor: remove unncessary files
  client/src/components/ui/graph.tsx
Labels: Scope: Client

feat: created feedback schema branch
  client/src/pages/route-map.tsx
  client/src/pages/user/feedback.tsx
  client/src/pages/user/route-map.tsx
  client/src/utils/http.ts
  server/src/v1/feedback.ts
  server/src/v1/route-map.ts
Labels: Scope: Server, Scope: Client

refactor: Abstract internal logic
  server/src/middleware/jwt.ts
Labels: Scope: Server

feat: Ignore caching on uploadthing
  server/src/middleware/caching.ts
Labels: Scope: Server

refactor: Do not auth protect the whole endpoint
  server/src/api/route-map.ts
  server/src/api/uploadthing.ts
Labels: Scope: Server

refactor: add v1/user PUT endpoint for account settings
  client/src/lib/api-types/user.ts
  client/src/pages/user/accountsettings.tsx
  client/src/utils/http.ts
  server/src/lib/api-types/user.ts
  server/src/v1/route-map.ts
  server/src/v1/user.ts
  shared/api-types/src/user.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

fix: Add proper typings
  client/src/lib/api-types/index.ts
  client/src/lib/api-types/schemas/user.ts
  client/src/lib/api-types/user.ts
  server/src/lib/api-types/index.ts
  server/src/lib/api-types/schemas/user.ts
  server/src/lib/api-types/user.ts
  shared/api-types/src/index.ts
  shared/api-types/src/schemas/user.ts
  shared/api-types/src/user.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: Use POST for update
  server/src/v1/route-map.ts
Labels: Scope: Server

fix: Overall bugfix and code improvement
  client/src/pages/user/accountsettings.tsx
  server/src/v1/user.ts
Labels: Scope: Server, Scope: Client

feat: add all schemas to schemas-all branch
  client/src/lib/api-types/dashboard.ts
  client/src/lib/api-types/event.ts
  client/src/lib/api-types/feedback.ts
  client/src/lib/api-types/schemas/dashboard.ts
  client/src/lib/api-types/schemas/event.ts
  client/src/lib/api-types/schemas/feedback.ts
  client/src/lib/api-types/schemas/index.ts
  server/src/lib/api-types/dashboard.ts
  server/src/lib/api-types/event.ts
  server/src/lib/api-types/feedback.ts
  server/src/lib/api-types/schemas/dashboard.ts
  server/src/lib/api-types/schemas/event.ts
  server/src/lib/api-types/schemas/feedback.ts
  server/src/lib/api-types/schemas/index.ts
  shared/api-types/src/dashboard.ts
  shared/api-types/src/event.ts
  shared/api-types/src/feedback.ts
  shared/api-types/src/schemas/dashboard.ts
  shared/api-types/src/schemas/event.ts
  shared/api-types/src/schemas/feedback.ts
  shared/api-types/src/schemas/index.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

refactor: schema changes to pull request
  client/src/lib/api-types/dashboard.ts
  client/src/lib/api-types/event.ts
  client/src/lib/api-types/feedback.ts
  client/src/lib/api-types/schemas/feedback.ts
  server/src/db/schemas.ts
  server/src/lib/api-types/dashboard.ts
  server/src/lib/api-types/event.ts
  server/src/lib/api-types/feedback.ts
  server/src/lib/api-types/schemas/feedback.ts
  shared/api-types/src/dashboard.ts
  shared/api-types/src/event.ts
  shared/api-types/src/feedback.ts
  shared/api-types/src/schemas/feedback.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

.github/labeler.yml:

# This file is for the labeler workflow
# Documentation https://github.com/marketplace/actions/labeler

Documentation:
  - changed-files:
      - any-glob-to-any-file: [docs/**, '**/*.{md,mdx}']

'Type: Test':
  - changed-files:
      - any-glob-to-any-file: [tests/**, ./*test*]

'Type: CI':
  - changed-files:
      - any-glob-to-any-file: [.github/workflows/**]

'Scope: Server':
  - changed-files:
      - any-glob-to-any-file: [server/**]

'Scope: Client':
  - changed-files:
      - any-glob-to-any-file: [client/**]

'Scope: Utilities':
  - changed-files:
      - any-glob-to-any-file: [shared/**]
