Repository caffeine-addictt/greenbitessg, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Type: Test, Type: CI, Scope: Server, Scope: Client, Scope: Utilities

style: Remove useless comment separation
  server/src/db/schemas.ts
Labels: Scope: Server

fix: Explicitly mark as FK
  server/src/db/schemas.ts
Labels: Scope: Server

fix: Add missing createdAt and updatedAt
  server/src/db/schemas.ts
Labels: Scope: Server

fix: Add missing type export
  server/src/db/schemas.ts
Labels: Scope: Server

chore(sync): Sync shared/api-types
  client/src/lib/api-types/schemas/feedback.ts
  server/src/lib/api-types/schemas/feedback.ts
  shared/api-types/src/schemas/feedback.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

chore(deps): bump drizzle-orm 0.31.0 -> 0.32.1
  package-lock.json
  server/package.json
Labels: Scope: Server

chore(db): Migrate db
  server/migrations/0020_icy_the_twelve.sql
  server/migrations/meta/0020_snapshot.json
  server/migrations/meta/_journal.json
Labels: Scope: Server

feat: add all schemas to schemas-all branch (#243)
  client/src/lib/api-types/dashboard.ts
  client/src/lib/api-types/event.ts
  client/src/lib/api-types/feedback.ts
  client/src/lib/api-types/schemas/dashboard.ts
  client/src/lib/api-types/schemas/event.ts
  client/src/lib/api-types/schemas/feedback.ts
  client/src/lib/api-types/schemas/index.ts
  package-lock.json
  server/migrations/0020_icy_the_twelve.sql
  server/migrations/meta/0020_snapshot.json
  server/migrations/meta/_journal.json
  server/package.json
  server/src/db/schemas.ts
  server/src/lib/api-types/dashboard.ts
  server/src/lib/api-types/event.ts
  server/src/lib/api-types/feedback.ts
  server/src/lib/api-types/schemas/dashboard.ts
  server/src/lib/api-types/schemas/event.ts
  server/src/lib/api-types/schemas/feedback.ts
  server/src/lib/api-types/schemas/index.ts
  shared/api-types/src/dashboard.ts
  shared/api-types/src/event.ts
  shared/api-types/src/feedback.ts
  shared/api-types/src/schemas/dashboard.ts
  shared/api-types/src/schemas/event.ts
  shared/api-types/src/schemas/feedback.ts
  shared/api-types/src/schemas/index.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

refactor: fix linting errors
  client/src/components/ui/toast.tsx
  client/src/main.tsx
  client/src/pages/auth/auth-layout.tsx
  client/src/pages/user/event-list.tsx
  server/src/db/schemas.ts
  server/src/v1/event.ts
Labels: Scope: Server, Scope: Client

fix: fix build errors
  client/src/lib/api-types/schemas/index.ts
  server/src/lib/api-types/schemas/index.ts
  server/src/v1/event.ts
  server/src/v1/route-map.ts
  shared/api-types/src/schemas/index.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

refactor: do up the API for events
  client/src/lib/api-types/event.ts
  client/src/pages/user/create-events.tsx
  client/src/pages/user/event-list.tsx
  client/src/pages/user/route-map.tsx
  server/src/lib/api-types/event.ts
  server/src/v1/event.ts
  server/src/v1/route-map.ts
  shared/api-types/src/event.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: user settings page
  client/src/pages/userAccount/userSettings.tsx
Labels: Scope: Client

add changes to event.ts
  client/src/pages/user/create-events.tsx
  client/src/pages/user/event-list.tsx
  server/src/v1/event.ts
Labels: Scope: Server, Scope: Client

refactor: fix changes to API
  server/src/lib/api-types/feedback.ts
  server/src/v1/event.ts
Labels: Scope: Server

refactor: fix code
  server/src/lib/api-types/auth.ts
  server/src/lib/api-types/dashboard.ts
  server/src/lib/api-types/errors.ts
  server/src/lib/api-types/feedback.ts
  server/src/lib/api-types/food.ts
  server/src/lib/api-types/http-codes.ts
  server/src/lib/api-types/http-methods.ts
  server/src/lib/api-types/index.ts
  server/src/lib/api-types/user.ts
  server/src/middleware/errors.ts
  server/src/middleware/jwt.ts
  server/src/route-map.ts
  server/src/v1/auth/legacy.ts
  server/src/v1/auth/passkey.ts
  server/src/v1/auth/tokens.ts
  server/src/v1/event.ts
  server/src/v1/user.ts
Labels: Scope: Server

feat: styled the userSettings page
  client/src/pages/userAccount/userSettings.tsx
Labels: Scope: Client

refactor: rectified feedback api types for feedback pages
  client/src/lib/api-types/schemas/index.ts
  client/src/pages/user/feedback.tsx
  server/src/db/schemas.ts
  server/src/lib/api-types/schemas/index.ts
  server/src/v1/feedback.ts
  server/src/v1/route-map.ts
  shared/api-types/src/schemas/index.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: notification schema
  server/src/db/schemas.ts
  shared/api-types/src/notification.ts
  shared/api-types/src/schemas/index.ts
  shared/api-types/src/schemas/notification.ts
Labels: Scope: Server, Scope: Utilities

fix: synced changes in api-types
  client/src/lib/src/auth.ts
  client/src/lib/src/dashboard.ts
  client/src/lib/src/errors.ts
  client/src/lib/src/event.ts
  client/src/lib/src/feedback.ts
  client/src/lib/src/food.ts
  client/src/lib/src/http-codes.ts
  client/src/lib/src/http-methods.ts
  client/src/lib/src/index.ts
  client/src/lib/src/notification.ts
  client/src/lib/src/schemas/auth.ts
  client/src/lib/src/schemas/dashboard.ts
  client/src/lib/src/schemas/event.ts
  client/src/lib/src/schemas/feedback.ts
  client/src/lib/src/schemas/food.ts
  client/src/lib/src/schemas/index.ts
  client/src/lib/src/schemas/notification.ts
  client/src/lib/src/schemas/user.ts
  client/src/lib/src/user.ts
  server/src/lib/api-types/notification.ts
  server/src/lib/api-types/schemas/index.ts
  server/src/lib/api-types/schemas/notification.ts
Labels: Scope: Server, Scope: Client

fix: changed directory name to api-types
  client/src/lib/api-types/auth.ts
  client/src/lib/api-types/dashboard.ts
  client/src/lib/api-types/errors.ts
  client/src/lib/api-types/event.ts
  client/src/lib/api-types/feedback.ts
  client/src/lib/api-types/food.ts
  client/src/lib/api-types/http-codes.ts
  client/src/lib/api-types/http-methods.ts
  client/src/lib/api-types/index.ts
  client/src/lib/api-types/notification.ts
  client/src/lib/api-types/schemas/auth.ts
  client/src/lib/api-types/schemas/dashboard.ts
  client/src/lib/api-types/schemas/event.ts
  client/src/lib/api-types/schemas/feedback.ts
  client/src/lib/api-types/schemas/food.ts
  client/src/lib/api-types/schemas/index.ts
  client/src/lib/api-types/schemas/notification.ts
  client/src/lib/api-types/schemas/user.ts
  client/src/lib/api-types/user.ts
Labels: Scope: Client

fix: added references to userTable, removed expiresAt
  server/src/db/schemas.ts
  shared/api-types/src/schemas/notification.ts
Labels: Scope: Server, Scope: Utilities

refactor: sync api types with shared api types
  client/src/pages/auth/route-map.tsx
  client/src/pages/route-map.tsx
  client/src/pages/user/route-map.tsx
  server/src/lib/api-types/auth.ts
  server/src/lib/api-types/dashboard.ts
  server/src/lib/api-types/errors.ts
  server/src/lib/api-types/feedback.ts
  server/src/lib/api-types/food.ts
  server/src/lib/api-types/http-codes.ts
  server/src/lib/api-types/http-methods.ts
  server/src/lib/api-types/index.ts
  server/src/lib/api-types/user.ts
  server/src/middleware/errors.ts
  server/src/middleware/jwt.ts
  server/src/route-map.ts
  server/src/v1/auth/legacy.ts
  server/src/v1/auth/passkey.ts
  server/src/v1/auth/tokens.ts
  server/src/v1/event.ts
  server/src/v1/user.ts
Labels: Scope: Server, Scope: Client

fix: removed unnesscary error response
  shared/api-types/src/notification.ts
Labels: Scope: Utilities

chore: sync changes
  client/src/lib/api-types/notification.ts
  server/src/lib/api-types/notification.ts
Labels: Scope: Server, Scope: Client

chore: sync changes
  client/src/lib/api-types/schemas/notification.ts
  server/src/lib/api-types/schemas/notification.ts
Labels: Scope: Server, Scope: Client

fix: changed passkeysTable name to notificationTable
  server/src/db/schemas.ts
Labels: Scope: Server

chore: remove empty line
  server/src/db/schemas.ts
Labels: Scope: Server

feat: Add /api/delete-uploadthing
  client/src/lib/api-types/schemas/uploadthing.ts
  client/src/lib/api-types/uploadthing.ts
  server/src/api/delete-uploadthing.ts
  server/src/api/route-map.ts
  server/src/lib/api-types/schemas/uploadthing.ts
  server/src/lib/api-types/uploadthing.ts
  server/src/utils/service/cdn.ts
  shared/api-types/src/schemas/uploadthing.ts
  shared/api-types/src/uploadthing.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: Add 'fromRoot' option in httpClient
  client/src/utils/http.ts
Labels: Scope: Client

feat: Add /food page
  client/src/pages/food/food.tsx
  client/src/pages/food/route-map.tsx
  client/src/pages/route-map.tsx
Labels: Scope: Client

fix: Page always 1 more than expected
  server/src/v1/food/food.ts
Labels: Scope: Server

fix: Select distinct error
  server/src/v1/food/generate.ts
Labels: Scope: Server

feat: Limit to 1
  server/src/v1/food/generate.ts
Labels: Scope: Server

fix: Listen /v1/food/generate on POST not GET
  server/src/v1/food/route-map.ts
Labels: Scope: Server

fix: Wrong ENV
  server/src/check-env.ts
Labels: Scope: Server

feat: added many(notif) to usersRelation
  server/src/db/schemas.ts
Labels: Scope: Server

chore(db): Migrate db
  server/migrations/0021_strange_gertrude_yorkes.sql
  server/migrations/meta/0021_snapshot.json
  server/migrations/meta/_journal.json
Labels: Scope: Server

feat: notification schema and api (#244)
  client/src/lib/api-types/notification.ts
  client/src/lib/api-types/schemas/index.ts
  client/src/lib/api-types/schemas/notification.ts
  server/migrations/0021_strange_gertrude_yorkes.sql
  server/migrations/meta/0021_snapshot.json
  server/migrations/meta/_journal.json
  server/src/db/schemas.ts
  server/src/lib/api-types/notification.ts
  server/src/lib/api-types/schemas/index.ts
  server/src/lib/api-types/schemas/notification.ts
  shared/api-types/src/notification.ts
  shared/api-types/src/schemas/index.ts
  shared/api-types/src/schemas/notification.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: add API for delete events
  client/src/lib/api-types/event.ts
  client/src/pages/user/event-list.tsx
  server/src/lib/api-types/event.ts
  server/src/v1/event.ts
  server/src/v1/route-map.ts
  shared/api-types/src/event.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

fix: fix all formatting and pr errors
  client/src/lib/api-types/event.ts
  client/src/pages/user/route-map.tsx
  server/src/lib/api-types/event.ts
  shared/api-types/src/event.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

.github/labeler.yml:

# This file is for the labeler workflow
# Documentation https://github.com/marketplace/actions/labeler

Documentation:
  - changed-files:
      - any-glob-to-any-file: [docs/**, '**/*.{md,mdx}']

'Type: Test':
  - changed-files:
      - any-glob-to-any-file: [tests/**, ./*test*]

'Type: CI':
  - changed-files:
      - any-glob-to-any-file: [.github/workflows/**]

'Scope: Server':
  - changed-files:
      - any-glob-to-any-file: [server/**]

'Scope: Client':
  - changed-files:
      - any-glob-to-any-file: [client/**]

'Scope: Utilities':
  - changed-files:
      - any-glob-to-any-file: [shared/**]
