Repository caffeine-addictt/greenbitessg, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Type: Test, Type: CI, Scope: Server, Scope: Client, Scope: Utilities

.github/labeler.yml:

# This file is for the labeler workflow
# Documentation https://github.com/marketplace/actions/labeler

Documentation:
  - changed-files:
      - any-glob-to-any-file: [docs/**, '**/*.{md,mdx}']

'Type: Test':
  - changed-files:
      - any-glob-to-any-file: [tests/**, ./*test*]

'Type: CI':
  - changed-files:
      - any-glob-to-any-file: [.github/workflows/**]

'Scope: Server':
  - changed-files:
      - any-glob-to-any-file: [server/**]

'Scope: Client':
  - changed-files:
      - any-glob-to-any-file: [client/**]

'Scope: Utilities':
  - changed-files:
      - any-glob-to-any-file: [shared/**]

style: fix style of code using prettier
  client/src/pages/user/route-map.tsx
Labels: Scope: Client

added route-map.tsx from user to pages/route-map
  client/src/pages/route-map.tsx
Labels: Scope: Client

update schema for employee
  client/src/lib/api-types/employee.ts
  client/src/lib/api-types/schemas/employee.ts
  client/src/lib/api-types/schemas/index.ts
  server/src/db/schemas.ts
  server/src/lib/api-types/employee.ts
  server/src/lib/api-types/schemas/employee.ts
  server/src/lib/api-types/schemas/index.ts
  shared/api-types/src/employee.ts
  shared/api-types/src/schemas/employee.ts
  shared/api-types/src/schemas/index.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

added API route for employee
  client/src/lib/api-types/schemas/employee.ts
  server/src/lib/api-types/schemas/employee.ts
  server/src/v1/employee.ts
  server/src/v1/route-map.ts
  shared/api-types/src/schemas/employee.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

remove irrelevant http.ts and changed employee.tsx accordingly
  client/src/http.ts
  client/src/pages/user/employee.tsx
Labels: Scope: Client

add API route for feedback
  client/src/lib/api-types/feedback.ts
  client/src/lib/api-types/schemas/feedback.ts
  server/src/lib/api-types/feedback.ts
  server/src/lib/api-types/schemas/feedback.ts
  server/src/v1/feedback.ts
  server/src/v1/route-map.ts
  shared/api-types/src/feedback.ts
  shared/api-types/src/schemas/feedback.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

Synchronize api-types between client, server, and shared directories
  client/src/lib/api-types/schemas/index.ts
  client/src/lib/api-types/schemas/user.ts
  server/src/lib/api-types/schemas/index.ts
Labels: Scope: Server, Scope: Client

Synchronize api-types between client, server, and shared directories
  client/src/lib/api-types/schemas/index.ts
  server/src/lib/api-types/schemas/index.ts
Labels: Scope: Server, Scope: Client

fix lint issue in staffhomepage
  client/src/pages/user/homepage.tsx
  client/src/pages/user/inviteclient.tsx
  client/src/pages/user/route-map.tsx
Labels: Scope: Client

update schema for invite client
  client/src/lib/api-types/inviteclient.ts
  client/src/lib/api-types/schemas/index.ts
  client/src/lib/api-types/schemas/inviteclient.ts
  server/src/db/schemas.ts
  server/src/lib/api-types/inviteclient.ts
  server/src/lib/api-types/schemas/inviteclient.ts
  shared/api-types/src/inviteclient.ts
  shared/api-types/src/schemas/inviteclient.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

Sync client with shared/api-types
  client/src/lib/api-types/inviteclient.ts
  client/src/lib/api-types/schemas/index.ts
Labels: Scope: Client

feat: add API route to inivte client
  client/src/lib/api-types/inviteclient.ts
  client/src/lib/api-types/schemas/index.ts
  client/src/lib/api-types/schemas/inviteclient.ts
  server/src/lib/api-types/inviteclient.ts
  server/src/lib/api-types/schemas/index.ts
  server/src/lib/api-types/schemas/inviteclient.ts
  server/src/v1/inviteclient.ts
  shared/api-types/src/inviteclient.ts
  shared/api-types/src/schemas/index.ts
  shared/api-types/src/schemas/inviteclient.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: added dashboard.tsx to frontend - client
  client/src/pages/route-map.tsx
  client/src/pages/user/dashboard.tsx
  client/src/pages/user/route-map.tsx
Labels: Scope: Client

feat: add ui for graph for dashboard
  client/src/components/ui/graph.tsx
  package-lock.json
  package.json
Labels: Scope: Client

feat: add schema for dashboard
  client/src/lib/api-types/dashboard.ts
  client/src/lib/api-types/schemas/dashboard.ts
  client/src/lib/api-types/schemas/index.ts
  server/src/db/schemas.ts
  server/src/lib/api-types/dashboard.ts
  server/src/lib/api-types/schemas/dashboard.ts
  server/src/lib/api-types/schemas/index.ts
  shared/api-types/src/dashboard.ts
  shared/api-types/src/schemas/dashboard.ts
  shared/api-types/src/schemas/index.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

feat: Add all methods handler
  server/src/index.ts
  server/src/route-map.ts
Labels: Scope: Server

feat: add API routes for dashboard
  server/src/v1/dashboard.ts
  server/src/v1/route-map.ts
Labels: Scope: Server

feat: Add uploadthing
  client/package.json
  client/tailwind.config.ts
  package-lock.json
  server/package.json
  server/src/api/route-map.ts
  server/src/api/uploadthing.ts
  server/src/check-env.ts
  server/src/route-map.ts
  server/src/types/environment.d.ts
Labels: Scope: Server, Scope: Client

feat: Add content db table
  server/migrations/0018_tearful_loki.sql
  server/migrations/meta/0018_snapshot.json
  server/migrations/meta/_journal.json
  server/src/api/uploadthing.ts
  server/src/db/schemas.ts
Labels: Scope: Server

feat: file uploads (#227)
  client/package.json
  client/tailwind.config.ts
  package-lock.json
  server/migrations/0018_tearful_loki.sql
  server/migrations/meta/0018_snapshot.json
  server/migrations/meta/_journal.json
  server/package.json
  server/src/api/route-map.ts
  server/src/api/uploadthing.ts
  server/src/check-env.ts
  server/src/db/schemas.ts
  server/src/index.ts
  server/src/route-map.ts
  server/src/types/environment.d.ts
Labels: Scope: Server, Scope: Client

style: Fix formatting
  client/src/utils/http.ts
Labels: Scope: Client

refactor: rectify errors
  client/src/lib/api-types/event.ts
  client/src/lib/api-types/schemas/event.ts
  client/src/pages/route-map.tsx
  client/src/pages/user/create-events.tsx
  client/src/pages/user/event-list.tsx
  client/src/pages/user/eventlist.tsx
  client/src/pages/user/route-map.tsx
  server/src/db/schemas.ts
  server/src/lib/api-types/event.ts
  server/src/lib/api-types/schemas/event.ts
  server/src/v1/event.ts
  server/src/v1/route-map.ts
  shared/api-types/src/event.ts
  shared/api-types/src/schemas/event.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

Define schema for events
  client/src/pages/route-map.tsx
  client/src/pages/user/create-events.tsx
  client/src/pages/user/event-list.tsx
  client/src/pages/user/route-map.tsx
Labels: Scope: Client

feat: Use type-fest for literal unions
  client/package.json
  client/src/lib/api-types/errors.ts
  client/src/lib/api-types/index.ts
  package-lock.json
  server/package.json
  server/src/lib/api-types/errors.ts
  server/src/lib/api-types/index.ts
  shared/api-types/package.json
  shared/api-types/src/errors.ts
  shared/api-types/src/index.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

fix: Unnecessary && operator
  server/src/utils/service/auth/jwt.ts
Labels: Scope: Server

fix: Unused env import
  client/src/utils/jwt.ts
Labels: Scope: Client

ci: Only run linting and tests on push
  .github/workflows/linter.yml
  .github/workflows/test-worker.yml
Labels: Type: CI

ci: Only run linting and tests on push (#230)
  .github/workflows/linter.yml
  .github/workflows/test-worker.yml
Labels: Type: CI

ci: Add building ci
  .github/workflows/test-worker.yml
Labels: Type: CI

ci: Add building ci (#231)
  .github/workflows/test-worker.yml
Labels: Type: CI

refactor: change timestamp to date in schema.ts
  server/src/db/schemas.ts
Labels: Scope: Server

rectify all other errors
  client/src/lib/api-types/event.ts
  server/src/lib/api-types/event.ts
  server/src/v1/event.ts
  shared/api-types/src/event.ts
Labels: Scope: Server, Scope: Client, Scope: Utilities

rectify all other errors
  client/src/lib/api-types/schemas/event.ts
Labels: Scope: Client

rectify all other errors
  server/src/lib/api-types/schemas/event.ts
  shared/api-types/src/schemas/event.ts
Labels: Scope: Server, Scope: Utilities

refactor: rectify naming conventions for route maps in route-map.tsx
  client/src/pages/auth/route-map.tsx
  client/src/pages/route-map.tsx
  client/src/pages/user/route-map.tsx
Labels: Scope: Client

refactor: route-map.tsx
  client/src/pages/route-map.tsx
Labels: Scope: Client

changes to package.json
  client/package.json
  client/src/utils/http.ts
  package.json
Labels: Scope: Client

rectified package.json
  client/package.json
  client/src/utils/http.ts
Labels: Scope: Client

rectify errors
  client/src/shared/src/auth.ts
  client/src/shared/src/errors.ts
  client/src/shared/src/feedback.ts
  client/src/shared/src/http-codes.ts
  client/src/shared/src/http-methods.ts
  client/src/shared/src/index.ts
  client/src/shared/src/schemas/auth.ts
  client/src/shared/src/schemas/feedback.ts
  client/src/shared/src/schemas/index.ts
  client/src/shared/src/schemas/user.ts
  client/src/shared/src/user.ts
  package-lock.json
Labels: Scope: Client

rectify errors
  client/src/shared/tests/http-codes.test.ts
  client/src/shared/tests/http-methods.test.ts
  client/src/shared/tests/index.test.ts
Labels: Scope: Client
